html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.disabled {
  opacity: 0.3;
  cursor: default !important;
  pointer-events: none;
}

.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}

.close {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 5;
  width: 4rem;
  height: 4rem;
  top: 0.5em;
  right: 0.5em;
}

.close:before, .close:after {
  content: "";
  width: 3rem;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  background: #fdffff;
  transition: transform cubic-bezier(0.1, 0.8, 0.2, 1) 0.3s;
}

@media screen and (max-width: 800px) {
  .close:before, .close:after {
    width: 2rem;
  }
}

.close:before {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.close:after {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.close:hover:before {
  -ms-transform: rotate(225deg);
      transform: rotate(225deg);
}

.close:hover:after {
  -ms-transform: rotate(-225deg);
      transform: rotate(-225deg);
}

@media screen and (max-width: 800px) {
  .close {
    width: 3rem;
    height: 3rem;
  }
}

.h-strong {
  font-weight: 600;
}

.alert {
  margin-top: 3rem;
  padding: 1rem;
}

.alert--danger {
  background-color: #ffdada;
  color: #9e3535;
}

.alert--success {
  background-color: #e1f0f4;
  color: #697787;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.show-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .show-mobile {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .hide-mobile {
    display: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

@keyframes scribble {
  0% {
    transform: rotate(10deg) translateX(-10px);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg) translateX(10px);
  }
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(4, 20, 37, 0);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #041425;
  font-family: "skolar-sans-latin", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "skolar-sans-latin", serif;
  line-height: 1;
  margin: 0 0 1rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 900;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 7vw;
  }
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 620px) {
  h2 {
    font-size: 1.35rem;
  }
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.3125rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

p {
  margin: 0 0 1rem;
}

p.lead {
  font-size: 1.3125rem;
}

a {
  color: #25a6c8;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

a:hover, a:active {
  color: #263341;
}

ul {
  margin-left: 1rem;
}

img {
  width: 100%;
  vertical-align: middle;
}

strong {
  font-weight: 700;
}

img {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

img[data-src] {
  opacity: 0;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
}

@media screen and (-ms-high-contrast: active) {
  * {
    -ms-high-contrast-adjust: none;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdffff;
  transition: background-color 3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

body.is-locked {
  overflow: hidden;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  padding-bottom: 5rem;
}

@media screen and (max-width: 960px) {
  .page {
    margin-top: 2.75rem;
  }
}

.page--home {
  padding-bottom: 0;
}

aside {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 800px) {
  aside {
    width: 100%;
    position: static;
    padding: 5% 10%;
  }
}

.content__wrapper {
  width: 60vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 960px) {
  .content__wrapper {
    width: 55vw;
  }
}

@media screen and (max-width: 800px) {
  .content__wrapper {
    width: 100%;
    position: static;
  }
}

.content__wrapper--page {
  width: 100%;
  max-width: 60rem;
  position: static;
  margin: 0 auto;
}

.content__main {
  padding: 5%;
  font-size: 1.1875rem;
  color: #263341;
}

.content__main ul,
.content__main ol {
  list-style-type: disc;
  margin: 0 0 1.5rem 1.5rem;
  padding: 0 0 0 1rem;
}

.content__main--home {
  padding: 5% 10%;
}

.btn {
  display: inline-block;
  position: relative;
  min-width: 6rem;
  padding: 0.5rem 2rem 0.75rem 2rem;
  color: #fdffff;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0;
  background-color: #25a6c8;
  outline: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.btn:hover, .btn:focus {
  color: #fdffff;
  background-color: rgba(37, 166, 200, 0.7);
  text-decoration: none;
}

.btn:active, .btn.active {
  outline: 0;
  border-color: #fdffff;
  background-image: none;
}

.btn:disabled {
  cursor: default;
  pointer-events: none;
  background: #dae4eb;
}

header {
  width: 100%;
  transition: height 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.c-nav--primary {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 1rem;
}

.c-nav__social {
  margin: 0;
}

.c-nav__list {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  background: #fdffff;
}

@media screen and (max-width: 960px) {
  .c-nav__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: stretch;
        align-items: stretch;
    position: fixed;
    width: 100%;
    top: 3.5rem;
    bottom: 50%;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
  }
}

.c-nav__item {
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 960px) {
  .c-nav__item {
    -ms-flex: 1;
        flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.c-nav__icon {
  margin-right: 0.5rem;
}

@media screen and (max-width: 960px) {
  .c-nav__icon {
    display: none;
  }
}

.c-nav__icon--mobile {
  margin-top: 0.25rem;
  margin-left: 2rem;
}

.c-nav__link {
  position: relative;
  display: block;
  padding: 2rem 0.75rem;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #041425;
  background-color: #fdffff;
  transition: all cubic-bezier(0.1, 0.8, 0.2, 1) 0.3s;
}

.c-nav__link:hover, .c-nav__link.is-active {
  color: #fdffff;
  background-color: #263341;
}

@media screen and (max-width: 1200px) {
  .c-nav__link {
    letter-spacing: 1px;
    font-size: 0.875rem;
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 960px) {
  .c-nav__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.c-nav--mobile {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3000;
  background: #263341;
}

@media screen and (max-width: 960px) {
  .c-nav--mobile {
    display: block;
  }
}

.c-nav__list--mobile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
}

.c-nav__item--mobile {
  text-align: center;
}

.c-nav__link--mobile {
  display: block;
  padding: 1.5rem;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fdffff;
  text-transform: uppercase;
}

.c-nav__link--mobile:hover, .c-nav__link--mobile:active {
  color: #fdffff;
  background: #697787;
}

@media screen and (max-width: 500px) {
  .c-nav__link--mobile {
    padding: 1rem 0.5rem;
    font-size: 0.75rem;
    letter-spacing: 0;
  }
}

.c-nav__toggle {
  position: relative;
  padding: 1rem;
  cursor: pointer;
}

.c-nav__toggle:hover, .c-nav__toggle:active {
  color: #fdffff;
  background: #697787;
}

@media screen and (max-width: 960px) {
  .c-nav__toggle {
    display: block;
  }
}

.c-nav__toggle-text {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  font-size: 0.8125rem;
  line-height: 2;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fdffff;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .c-nav__toggle-text {
    font-size: 0.75rem;
    letter-spacing: 0;
  }
}

.c-nav__toggle-burger {
  position: absolute;
  top: 52%;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1px;
  margin-top: 0;
  background-color: #fdffff;
  transition: background-color 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.c-nav__toggle-burger:before, .c-nav__toggle-burger:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdffff;
  transition: transform 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.c-nav__toggle-burger:before {
  bottom: 5px;
}

.c-nav__toggle-burger:after {
  top: 5px;
}

body.nav-open .c-nav__toggle-burger {
  background-color: transparent;
}

body.nav-open .c-nav__toggle-burger:before, body.nav-open .c-nav__toggle-burger:after {
  top: 0;
  bottom: 0;
}

body.nav-open .c-nav__toggle-burger:before {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

body.nav-open .c-nav__toggle-burger:after {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

body.nav-open .c-nav__list {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

ul,
ol {
  list-style-type: none;
  margin: 0 0 1rem 1.25rem;
  padding: 0;
}

.vertical-list li {
  padding: 0.5em 1em;
}

.horizontal-list li {
  display: inline-block;
  padding: 0.5em 0.5em;
}

.horizontal-list li:first-child {
  padding-left: 0;
}

.horizontal-list li:last-child {
  padding-right: 0;
}

dl {
  margin-bottom: 1em;
}

dl dt {
  float: left;
  clear: left;
  font-weight: bold;
  margin-bottom: 0.5em;
}

dl dd {
  margin-bottom: 0.5em;
  float: right;
  clear: right;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 1rem;
}

.icon__signup {
  width: 3rem;
  height: 3rem;
  position: relative;
  margin-bottom: 1rem;
  fill: #25a6c8;
}

.icon__pen {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
}

.icon__clock {
  width: 3rem;
  height: 3rem;
  position: relative;
  margin-bottom: 1rem;
  border: 3px solid #25a6c8;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.clock__hands {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

.clock__hands:before, .clock__hands:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 2px;
  background: #25a6c8;
  transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.clock__hands:before {
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}

.clock__hands:after {
  width: 0.6rem;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.clock__hands:before, .clock__hands:after {
  right: 0;
  -ms-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
}

.form--contact {
  margin-top: 3rem;
}

.form__wrapper {
  border-top: 1px solid #adb9c6;
  transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

input,
label,
select {
  display: block;
}

label {
  width: 100%;
  padding: 0.25rem 0.5rem 0 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #697787;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select,
textarea {
  height: 2.75rem;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  margin: 0 0.5rem;
  padding: 0.25rem 0 0.5rem 0;
  width: calc(100% - 0.5rem);
  box-shadow: none;
  -webkit-appearance: none;
          appearance: none;
  font-weight: 600;
  color: #25a6c8;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  outline: none;
}

textarea {
  height: 2.75rem;
  transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
  resize: vertical;
  overflow: hidden;
  margin-bottom: 0;
  line-height: 1.15;
}

textarea:focus {
  height: 6rem;
  overflow: auto;
}

input[type="radio"] {
  height: 0;
  opacity: 0;
}

input[type="radio"]:checked + .radio__value {
  color: #25a6c8;
}

input[type="radio"]:checked + .radio__value:before {
  background: #25a6c8;
}

.field__wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 0.25rem;
}

.field--day {
  width: 2.5rem;
}

.field--year {
  width: 4rem;
}

.placeholder__text {
  position: absolute;
  top: 0.6rem;
  left: 0.5rem;
  z-index: -1;
  font-size: 1rem;
  color: #697787;
}

.divider {
  display: inline-block;
  margin-top: 0.45rem;
}

.form-segment.has-focus > .checkbox__label {
  color: #697787 !important;
}

.checkbox {
  padding: 0.75rem 0;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__input {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.checkbox__label {
  padding-left: 2.25rem;
  position: relative;
}

.checkbox__label:focus, .checkbox__label:hover {
  color: #041425;
}

.checkbox__label:before {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0.5rem;
  background-color: #dae4eb;
}

.checkbox__input:checked + .checkbox__label:before {
  background-color: #25a6c8;
}

.checkbox__input:checked + .checkbox__label:after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.35rem;
  left: 0.65rem;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M432%2064L192%20304%2080%20192%200%20272l192%20192%20320-320z%22%2F%3E%3C%2Fsvg%3E");
}

.radio__label {
  width: auto;
  display: inline-block;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #697787;
  line-height: 1;
}

.radio__value {
  position: relative;
  padding-left: 1.5rem;
}

.radio__value:before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0;
  background: #dae4eb;
  border-radius: 50%;
}

.radio__value.has-focus:before {
  border: 2px solid #25a6c8;
}

.dropdown {
  position: relative;
  display: block;
  overflow: hidden;
}

.dropdown:before, .dropdown:after {
  content: " ";
  display: block;
  width: 2px;
  height: 8px;
  position: absolute;
  top: 1.125rem;
  right: 0.75rem;
  background: #25a6c8;
  transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.dropdown:before {
  -ms-transform: rotate(-45deg) translateX(-3px) translateY(-1px);
      transform: rotate(-45deg) translateX(-3px) translateY(-1px);
}

.dropdown:after {
  -ms-transform: rotate(45deg) translateX(3px) translateY(-1px);
      transform: rotate(45deg) translateX(3px) translateY(-1px);
}

.dropdown select {
  width: 4rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
  background: none;
  outline: none;
}

.segment__row {
  width: 100%;
  display: table;
  clear: both;
  border-right: 1px solid #adb9c6;
}

.segment__row > .form-segment {
  display: table-cell;
}

@media screen and (max-width: 620px) {
  .segment__row > .form-segment {
    display: block;
  }
}

.segment__row--sub {
  border: none;
}

.form-segment {
  position: relative;
  border: 1px solid #adb9c6;
  border-top: none;
}

.form-segment.has-focus > label {
  color: #263341;
}

.form-segment.has-value {
  background: rgba(48, 177, 227, 0.1);
}

.form-segment.has-error {
  background: #fdffff;
}

.form-segment.has-error label {
  color: #9e3535;
}

.form-segment--consent.has-value {
  background: transparent;
}

.form-segment--sub {
  border: none;
}

.form__segment--half {
  width: 50%;
  border-right: none;
}

@media screen and (max-width: 620px) {
  .form__segment--half {
    width: 100%;
    clear: both;
  }
}

.form__segment--third {
  width: 33.33334%;
  border-right: none;
}

@media screen and (max-width: 620px) {
  .form__segment--third {
    width: 100%;
    clear: both;
  }
}

.form__segment--quarter {
  width: 25%;
  border-right: none;
}

.segment__clear {
  clear: both;
}

.form__segment--detail {
  position: relative;
}

.form__segment--detail > label {
  padding-top: 0.75rem;
}

.form__segment--detail:after,
.form__segment--detail:before {
  top: -1px;
  left: 2rem;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.form__segment--detail:after {
  border-color: rgba(253, 255, 255, 0);
  border-top-color: #e1f0f4;
  border-width: 8px;
  margin-left: -8px;
}

.form__segment--detail:before {
  border-color: rgba(38, 51, 65, 0);
  border-top-color: #000;
  border-width: 9px;
  margin-left: -9px;
}

.segment__header {
  padding: 2.5rem 0.5rem 0.5rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #263341;
  border-bottom: 1px solid #adb9c6;
}

.segment__submit {
  padding: 1rem;
  text-align: center;
}

.segment__detail--inline {
  border-left: none;
}

.segment__detail--inline:before {
  content: "";
  width: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  background: url("../img/inline-arrow.png") right center no-repeat;
  background-size: contain;
}

.unhappyMessage {
  display: block;
  margin-top: -0.25rem;
  padding: 0 0 0.25rem 0.5rem;
  font-size: 0.875rem;
  color: #9e3535;
}

.ldkFKNlkIldkng {
  height: 2px !important;
  -ms-transform: translateX(-200%);
      transform: translateX(-200%);
}

.collapse {
  margin-bottom: 3rem;
}

.collapse__title {
  position: relative;
  font-weight: 700;
  padding: 1rem 1rem 1rem 2.5rem;
  display: block;
  text-decoration: none;
  color: #25a6c8;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 2px solid #697787;
}

.collapse__title:before, .collapse__title:after {
  content: '';
  width: 1rem;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  background: #25a6c8;
  transition: transform cubic-bezier(0.1, 0.8, 0.2, 1) 0.3s;
}

.collapse__title:before {
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}

.collapse__title:hover {
  background-color: #e1f0f4;
}

.collapse__title.is-expanded {
  background-color: #e1f0f4;
}

.collapse__title.is-expanded:before {
  -ms-transform: rotate(225deg);
      transform: rotate(225deg);
}

.collapse__title.is-expanded:after {
  -ms-transform: rotate(-225deg);
      transform: rotate(-225deg);
}

.collapse__content {
  height: auto;
  overflow: hidden;
  transition: max-height 1s;
  max-height: 100em;
  transition: max-height 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.collapse__content.is-collapsed {
  max-height: 0;
}

.no-js .collapse__content.is-collapsed {
  max-height: auto;
}

.content__inner {
  padding: 1rem 0;
}

.animateIn {
  animation: collapseIn 0.3s normal cubic-bezier(0.1, 0.8, 0.2, 1) both 1;
}

.animateOut {
  animation: collapseOut 0.3s alternate cubic-bezier(0.1, 0.8, 0.2, 1) both 1;
}

@keyframes collapseIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes collapseOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}

.modal {
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal.is-visible {
  top: 0;
  visibility: visible;
}

.modal.is-visible .modal__inner {
  -ms-transform: scale(1);
      transform: scale(1);
}

.modal__inner {
  width: 60%;
  left: 20%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
  background: #fdffff;
  box-shadow: 2rem 2rem 20rem #adb9c6;
  transform: scale(0.9) translate3d(0, 0, 0);
  transition: all 1s cubic-bezier(0.1, 0.8, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .modal__inner {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 620px) {
  .modal__inner {
    width: 90%;
    left: 5%;
  }
}

.close--gallery {
  background: #263341;
}

.masthead {
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 20rem;
  text-align: center;
}

.masthead--home {
  width: 60vw;
  height: 60vh;
  min-height: 30rem;
  text-align: left;
}

@media screen and (max-width: 960px) {
  .masthead--home {
    width: 55vw;
  }
}

@media screen and (max-width: 800px) {
  .masthead--home {
    width: 100%;
    height: 50vh;
    min-height: 20rem;
    text-align: center;
  }
}

.masthead__logo {
  display: block;
  position: absolute;
  bottom: 8.5vw;
  left: 50%;
  z-index: 1;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}

.masthead__logo img {
  width: auto;
  height: 8rem;
  display: block;
}

@media screen and (max-width: 1200px) {
  .masthead__logo img {
    height: 8vw;
  }
}

@media screen and (max-width: 960px) {
  .masthead__logo img {
    height: 12vw;
  }
}

@media screen and (max-width: 620px) {
  .masthead__logo img {
    height: 18vw;
  }
}

@media screen and (max-width: 960px) {
  .masthead__logo {
    bottom: 12vw;
  }
}

@media screen and (max-width: 620px) {
  .masthead__logo {
    bottom: 15vw;
  }
}

.masthead__logo--home {
  bottom: 18vw;
  bottom: 16rem;
  left: 10%;
  -ms-transform: none;
      transform: none;
}

@media screen and (max-width: 1200px) {
  .masthead__logo--home {
    bottom: 18vw;
  }
}

@media screen and (max-width: 800px) {
  .masthead__logo--home {
    position: absolute;
    bottom: 7rem;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
  }
}

@media screen and (max-width: 620px) {
  .masthead__logo--home {
    bottom: 28vw;
  }
}

.masthead__title {
  width: 100%;
  position: absolute;
  bottom: 2vw;
  z-index: 2;
  color: #fdffff;
}

@media screen and (max-width: 620px) {
  .masthead__title {
    bottom: 3vw;
  }
}

.masthead__title--home {
  max-width: 60rem;
  padding: 0 10%;
}

.masthead__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.masthead__image.lazyloaded {
  opacity: 0.7;
}

.masthead__image:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: linear-gradient(to bottom, rgba(234, 197, 216, 0.1) 20%, rgba(37, 166, 200, 0.9) 100%);
}

.cards {
  margin-top: 2rem;
}

@media screen and (max-width: 800px) {
  .cards {
    margin-top: 0;
  }
}

.card {
  width: 20rem;
  position: relative;
  margin-bottom: 4rem;
  box-shadow: 5rem 5rem 8rem #e1f0f4;
  transition: all 1s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.card:hover, .card:focus, .card:active {
  box-shadow: 0 0 0 #e1f0f4;
  -ms-transform: scale(0.95);
      transform: scale(0.95);
}

@media screen and (max-width: 1200px) {
  .card {
    width: 15rem;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 800px) {
  .card {
    margin-bottom: 1em;
  }
}

.card__link {
  display: block;
  padding: 1rem;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.card__link:hover, .card__link:focus, .card__link:active {
  color: #fdffff;
  background: #263341;
}

.card__title {
  margin-top: 0;
  font-size: 1.125rem;
  color: #041425;
}

.card__title svg {
  margin-right: 0.5rem;
  opacity: 0.75;
}

.card__title--flex {
  margin-top: 0.75rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.card__text {
  margin-bottom: 0;
  font-weight: 400;
  color: #041425;
}

.card--urgent {
  left: 30%;
  background-color: #d62234;
}

.card--urgent svg {
  vertical-align: middle;
}

.card--urgent .card__title,
.card--urgent .card__text,
.card--urgent a {
  color: #fdffff;
}

.card--urgent:hover .card__title,
.card--urgent:hover .card__text, .card--urgent:focus .card__title,
.card--urgent:focus .card__text, .card--urgent:active .card__title,
.card--urgent:active .card__text {
  color: #fdffff;
}

@media screen and (max-width: 960px) {
  .card--urgent {
    left: 20%;
  }
}

@media screen and (max-width: 800px) {
  .card--urgent {
    left: 0;
  }
}

.card--register {
  position: relative;
  left: 40%;
}

.card--register:hover, .card--register:focus, .card--register:active {
  color: #fdffff;
  fill: #fdffff;
  background: #263341;
}

.card--register:hover .card__title, .card--register:focus .card__title, .card--register:active .card__title {
  color: #fdffff;
}

.card--register:hover .icon__signup, .card--register:focus .icon__signup, .card--register:active .icon__signup {
  fill: #fdffff;
}

.card--register:hover .icon__pen, .card--register:focus .icon__pen, .card--register:active .icon__pen {
  animation: scribble 0.5s linear infinite;
  animation-direction: alternate-reverse;
  -ms-transform-origin: 0 80%;
      transform-origin: 0 80%;
}

@media screen and (max-width: 960px) {
  .card--register {
    left: 30%;
  }
}

@media screen and (max-width: 800px) {
  .card--register {
    left: 0;
  }
}

.card--appointment {
  left: 30%;
}

.card--appointment:hover .card__title, .card--appointment:focus .card__title, .card--appointment:active .card__title {
  color: #fdffff;
}

.card--appointment:hover .icon__clock, .card--appointment:focus .icon__clock, .card--appointment:active .icon__clock {
  border-color: #fdffff;
}

.card--appointment:hover .clock__hands:before, .card--appointment:focus .clock__hands:before, .card--appointment:active .clock__hands:before {
  background: #fdffff;
  animation: spin 1s linear infinite;
}

.card--appointment:hover .clock__hands:after, .card--appointment:focus .clock__hands:after, .card--appointment:active .clock__hands:after {
  width: 0.75rem;
  background: #fdffff;
  animation: spin 6s linear infinite;
}

@media screen and (max-width: 960px) {
  .card--appointment {
    left: 20%;
  }
}

@media screen and (max-width: 800px) {
  .card--appointment {
    left: 0;
  }
}

.card--contact {
  left: 40%;
}

.card--contact:hover .card__title,
.card--contact:hover .card__text, .card--contact:focus .card__title,
.card--contact:focus .card__text, .card--contact:active .card__title,
.card--contact:active .card__text {
  color: #fdffff;
}

@media screen and (max-width: 960px) {
  .card--contact {
    left: 30%;
  }
}

@media screen and (max-width: 800px) {
  .card--contact {
    left: 0;
  }
}

.card--covid {
  left: 40%;
  background: #263341;
}

.card--covid .card__title,
.card--covid .card__text {
  color: #fdffff;
}

.card--covid:hover .card__title,
.card--covid:hover .card__text, .card--covid:focus .card__title,
.card--covid:focus .card__text, .card--covid:active .card__title,
.card--covid:active .card__text {
  color: #fdffff;
}

@media screen and (max-width: 960px) {
  .card--covid {
    left: 20%;
  }
}

@media screen and (max-width: 800px) {
  .card--covid {
    left: 0;
  }
}

.card--hours {
  left: 30%;
  padding: 1rem;
}

.card--hours table {
  width: 100%;
}

.card--hours td {
  padding-bottom: 0.5rem;
}

.card--hours td:nth-child(odd) {
  font-weight: 700;
}

.card--hours td:nth-child(even) {
  text-align: right;
}

@media screen and (max-width: 960px) {
  .card--hours {
    left: 20%;
  }
}

@media screen and (max-width: 800px) {
  .card--hours {
    left: 0;
  }
}

.team__item {
  width: 46%;
  position: relative;
  float: left;
  margin-bottom: 2rem;
  cursor: pointer;
  box-shadow: 5rem 5rem 8rem #e1f0f4;
  transition: all 1s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.team__item:hover {
  box-shadow: 0 0 0 #e1f0f4;
  -ms-transform: scale(0.95);
      transform: scale(0.95);
}

.team__item:hover .team__description {
  color: #fdffff;
  background: #263341;
}

.team__item.has-focus {
  overflow: visible;
}

.team__item.has-focus .team__bio {
  opacity: 1;
}

@media screen and (max-width: 620px) {
  .team__item {
    width: 100%;
  }
}

.team__item--even {
  margin-top: 5rem;
  margin-left: 8%;
}

@media screen and (max-width: 620px) {
  .team__item--even {
    margin-top: 0;
    margin-left: 0;
  }
}

.team__photo {
  width: 50%;
  position: relative;
  opacity: 0.6;
}

.team__photo img {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.team__photo img.lazyloaded {
  opacity: 1;
}

.team__photo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: linear-gradient(to bottom, rgba(234, 197, 216, 0.1) 20%, rgba(245, 100, 118, 0.4) 100%);
}

.team__description {
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  padding: 1rem;
  background: #fdffff;
  transition: all 1s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.team__description--light {
  background: #263341;
  color: #fdffff;
}

.team__member {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.team__name {
  margin-bottom: 0.5rem;
  font-size: 1.1875rem;
}

@media screen and (max-width: 1200px) {
  .team__name {
    font-size: 1.75vw;
  }
}

@media screen and (max-width: 620px) {
  .team__name {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 500px) {
  .team__name {
    font-size: 4vw;
  }
}

.team__position {
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
}

@media screen and (max-width: 1200px) {
  .team__position {
    font-size: 1.4vw;
  }
}

@media screen and (max-width: 800px) {
  .team__position {
    font-size: 1.75vw;
  }
}

@media screen and (max-width: 620px) {
  .team__position {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 500px) {
  .team__position {
    font-size: 3.5vw;
  }
}

.bio__header {
  position: relative;
}

.bio__description {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background: #263341;
  color: #fdffff;
}

.description__content {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.bio__name {
  font-size: 1.5625rem;
  font-weight: 700;
}

.bio__position {
  font-size: 1rem;
}

.bio__photo {
  width: 50%;
  position: relative;
  opacity: 0.7;
}

.bio__photo img {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.bio__photo img.lazyloaded {
  opacity: 1;
}

.bio__photo:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: linear-gradient(to bottom, rgba(234, 197, 216, 0.1) 20%, rgba(245, 100, 118, 0.4) 100%);
}

.bio__content {
  padding: 2rem;
}

.modal__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  opacity: 0;
  background: #e1f0f4;
  visibility: hidden;
  transition: opacity cubic-bezier(0.1, 0.8, 0.2, 1) 2s;
}

.modal__overlay.is-visible {
  visibility: visible;
  opacity: 0.5;
}

.event__list {
  margin-bottom: 5rem;
}

.event {
  position: relative;
  margin-top: 3rem;
  box-shadow: 10px 10px 40px #e1f0f4;
  transition: all 1s cubic-bezier(0.1, 0.8, 0.2, 1);
}

.event__date {
  width: 10rem;
  height: 100%;
  position: absolute;
  background: #263341;
  color: #fdffff;
}

@media screen and (max-width: 620px) {
  .event__date {
    width: 100%;
    position: static;
  }
}

.event__day {
  display: block;
  padding: 1rem;
  font-size: 0.9375rem;
  font-weight: 600;
}

.event__description {
  padding: 1rem 2rem;
  font-size: 1rem;
}

@media screen and (max-width: 620px) {
  .event__description {
    padding: 0 2rem 1rem 1rem;
  }
}

.event__description a {
  font-weight: 600;
}

.event__title {
  color: #041425;
}

.event__teaser {
  color: #041425;
}

.event__link {
  font-size: 1rem;
  font-weight: 600;
}

.news__item {
  margin-top: 2rem;
}

.news__date {
  font-size: 0.875rem;
  color: #697787;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.news__title {
  margin-top: 0.5rem;
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.gallery__image {
  -ms-flex: 1;
      flex: 1;
  padding-right: 1rem;
  cursor: pointer;
}

.gallery__image:last-child {
  padding-right: 0;
}

.close--gallery {
  background: #263341;
  top: 0;
  right: 0;
}