{{ partial:masthead }}

<div class="content__wrapper content__wrapper--page">

  <div class="content__main">

    <div class="gallery">
      {{ gallery }}
        <div class="gallery__image" data-trigger="modal"><img src="{{ glide:gallery_image width="400" height="400" fit="crop" }}" alt=""></div>

        <div class="modal" data-item="modal">
          <div class="modal__inner">
            <div class="close close--gallery" data-trigger="close"></div>
            <img src="{{ glide:gallery_image width="1200" height="800" fit="crop" }}" alt="">
          </div>
        </div>

      {{ /gallery }}
    </div>

	  {{ content }}

    <h2>Clinic Policies</h2>

    {{ clinic_policies }}

    <div class="collapse">
      <div class="collapse__item">
        <div class="collapse__header">
          <a href="#{{ id }}" aria-expanded="false" aria-controls="collapse1" class="collapse__title js-collapseTrigger">{{ title }}</a>
        </div>

        <div class="collapse__content is-collapsed" id="{{ id }}" aria-hidden="true">
          <div class="content__inner">
            {{ content }}
          </div>
        </div>
      </div>

      {{ /clinic_policies }}

    </div>
  </div>

  <div class="modal__overlay"></div>

</div>