{{ partial:masthead }}

<div class="content__wrapper content__wrapper--page">

  <div class="content__main">

    {{ content }}

    {{ form:create in="contact" attr="class:form form--contact|id:contact" }}

      {{ if errors }}
        <div class="alert alert--danger">
          {{ errors }}
            {{ value }}<br>
          {{ /errors }}
        </div>
      {{ /if }}

      {{ if success }}
        <div class="alert alert--success">
          <span class="icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 11.016l8.016-5.016h-16.031zM20.016 18v-9.984l-8.016 4.969-8.016-4.969v9.984h16.031zM20.016 3.984c1.078 0 1.969 0.938 1.969 2.016v12c0 1.078-0.891 2.016-1.969 2.016h-16.031c-1.078 0-1.969-0.938-1.969-2.016v-12c0-1.078 0.891-2.016 1.969-2.016h16.031z"></path>
            </svg>
          </span>
          Your message was succesfully sent and we will get back to you as soon as possible.
        </div>
      {{ /if }}
      <div class="form__wrapper {{ if success }}was-sent{{ /if }}">

        <div class="form-segment form__segment--first">
          <label for="reason">Reason for contact</label>
          <div class="dropdown">
              <select name="reason_for_contact" id="reason_for_contact" value="{{ old:reason_for_contact }}" style="width:100%">
                 <option value="cancellation">Appointment cancellation (24 hour notice)</option>
                 <option value="patient">New patient</option>
                 <option value="general">Event Registration</option>
                 <option value="general">General inquiry</option>
              </select>
          </div>
        </div>

        <div class="form-segment">
          <label for="name">Name</label>
          <input name="name" id="name" type="text" value="{{ old:name }}" autocorrect="off" autocomplete="name" required>
        </div>

        <div class="segment__row">
          <div class="form-segment form__segment--half">
            <label for="email">Email Address</label>
            <input name="email" id="email" type="text" value="{{ old:email }}" autocapitalize="off" autocorrect="off" autocomplete="email" required>
          </div>

          <div class="form-segment form__segment--half">
            <label for="phone_number">Phone Number</label>
            <input name="phone_number" id="phone_number" type="text" value="{{ old:phone_number }}" type="tel" autocorrect="off" autocomplete="tel" >
          </div>
        </div>

        <div class="form-segment segment__clear">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="3" value="{{ old:message }}" required></textarea>
        </div>

        <label for="ldkFKNlkIldkng" class="ldkFKNlkIldkng">If you are a person, do not fill in this field</label>
        <input id="ldkFKNlkIldkng" type="tel" name="ldkFKNlkIldkng" class="ldkFKNlkIldkng" tabindex="-1" />

        <div class="segment__submit">
          <button id="submit" class="btn" type="submit" disabled>Send</button>
        </div>

      </div>

    {{ /form:create }}

  </div>

</div>
