{{ partial:masthead }}

<div class="content__wrapper content__wrapper--page">
  <div class="content__main">

    {{ form:create in="flu-shot" attr="class:form|id:flu-shot" }} {{ if errors }}
    <div class="alert alert--danger mb-2">
      {{ errors }} {{ value }}<br />
      {{ /errors }}
    </div>
    {{ /if }}
    {{ if success }}
    <div class="alert alert--success mb-2">
      <span class="icon">
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 11.016l8.016-5.016h-16.031zM20.016 18v-9.984l-8.016 4.969-8.016-4.969v9.984h16.031zM20.016 3.984c1.078 0 1.969 0.938 1.969 2.016v12c0 1.078-0.891 2.016-1.969 2.016h-16.031c-1.078 0-1.969-0.938-1.969-2.016v-12c0-1.078 0.891-2.016 1.969-2.016h16.031z"
          ></path>
        </svg>
      </span>
      Your registration was succesfully sent and we will get back to you as soon
      as possible.
    </div>
    {{ /if }}
    {{ content }}
    <div class="form__wrapper mt-3 {{ if success }}was-sent{{ /if }}">
      <div class="segment__row">
        <div class="form-segment form__segment--half">
          <label for="first_name">First Name</label>
          <input
            name="first_name"
            id="first_name"
            type="text"
            value="{{ old:first_name }}"
            autocorrect="off"
            autocomplete="given-name"
            required
          />
        </div>

        <div class="form-segment form__segment--half">
          <label for="last_name">Last Name</label>
          <input
            name="last_name"
            id="last_name"
            type="text"
            value="{{ old:last_name }}"
            autocorrect="off"
            autocomplete="family-name"
            required
          />
        </div>
      </div>

      <div class="segment__row">
        <div class="form-segment form__segment--half">
          <label for="email">Email Address</label>
          <input name="email" id="email" type="email" value="{{ old:email }}" autocapitalize="off" autocorrect="off" autocomplete="email">
        </div>

        <div class="form-segment form__segment--half">
          <label for="phone_number">Phone Number</label>
          <input
            name="phone_number"
            id="phone_number"
            type="text"
            value="{{ old:phone_number }}"
            type="tel"
            autocorrect="off"
            autocomplete="tel"
          />
        </div>
      </div>

      <div class="segment__row">
        <div class="form-segment form__segment--half">
          <label for="month_of_birth">Date of birth</label>

          <div class="form-segment--date">
            <div class="field__wrapper field--select field--month">
              <div class="dropdown">
                <select
                  required
                  name="month_of_birth"
                  id="month_of_birth"
                  value="{{ old:month_of_birth }}"
                >
                  <option disabled selected value></option>
                  <option value="january">Jan</option>
                  <option value="february">Feb</option>
                  <option value="march">Mar</option>
                  <option value="april">Apr</option>
                  <option value="may">May</option>
                  <option value="june">Jun</option>
                  <option value="july">Jul</option>
                  <option value="august">Aug</option>
                  <option value="september">Sep</option>
                  <option value="october">Oct</option>
                  <option value="november">Nov</option>
                  <option value="december">Dec</option>
                </select>
                <span class="placeholder__text">Month</span>
              </div>
            </div>
            <span class="divider">/</span>

            <div class="field__wrapper field--day">
              <input
                name="day_of_birth"
                id="day_of_birth"
                type="text"
                required
                pattern="[0-9]*"
                value="{{ old:day_of_birth }}"
              />
              <span class="placeholder__text">Day</span>
            </div>
            <span class="divider">/</span>

            <div class="field__wrapper field--year">
              <input
                name="year_of_birth"
                id="year_of_birth"
                type="text"
                required
                pattern="[0-9]*"
                value="{{ old:year_of_birth }}"
              />
              <span class="placeholder__text">Year</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-segment segment__clear">
        <label for="dependants">How many family members besides you will be receiving their flu shot?</label>
        <div class="radio__group">
          <label class="radio__label">
            <input type="radio" name="how_many_family_members" value="0" id="only_me" value="{{ old:how_many_family_members }}" />
            <span class="radio__value">Just me</span>
          </label>
          <label class="radio__label">
            <input type="radio" name="how_many_family_members" value="1" id="family_1"  value="{{ old:how_many_family_members }}" />
            <span class="radio__value">1</span>
          </label>
          <label class="radio__label">
            <input type="radio" name="how_many_family_members" value="2" id="family_2" value="{{ old:how_many_family_members }}" />
            <span class="radio__value">2</span>
          </label>
          <label class="radio__label">
            <input type="radio" name="how_many_family_members" value="3" id="family_3" value="{{ old:how_many_family_members }}" />
            <span class="radio__value">3</span>
          </label>
          <label class="radio__label">
            <input type="radio" name="how_many_family_members" value="4" id="family_4" value="{{ old:how_many_family_members }}" />
            <span class="radio__value">4</span>
          </label>
          <label class="radio__label">
            <input type="radio" name="how_many_family_members" value="5" id="family_5" value="{{ old:how_many_family_members }}" />
            <span class="radio__value">5</span>
          </label>
        </div>
      </div>

      <div class="form-segment segment__clear js-family-count is-hidden">
        <label for="dependants">Please provide their names and ages</label>
        <textarea
          name="dependants"
          id="dependants"
          rows="3"
        >{{ old:dependants }}</textarea>
      </div>

      <div class="form-segment">
        <label for="history_provider">Is there a chance you may be pregnant?</label>
        <div class="radio__group">
          <label class="radio__label">
            <input type="radio" name="not_pregnant" value="Yes" id="pregnant_yes"  value="{{ old:not_pregnant }}" />
            <span class="radio__value">Yes</span>
          </label>
          <label class="radio__label">
            <input type="radio" name="not_pregnant" value="No" id="pregnant_no" value="{{ old:not_pregnant }}" />
            <span class="radio__value">No</span>
          </label>
        </div>
      </div>

      <div class="form-segment form-segment--consent">

        <div class="checkbox">
          <input class="checkbox__input" type="checkbox" id="i_am_a_patient" name="i_am_a_patient"  />
          <label class="checkbox__label" for="i_am_a_patient">I confirm that I am a patient at South Hill Family Health Centre</label>
        </div>

        <div class="checkbox">
          <input class="checkbox__input" type="checkbox" id="has_no_fever" name="has_no_fever"  />
          <label class="checkbox__label" for="has_no_fever">I confirm that I have not had a fever in the last 3 days
          </label>
        </div>

        <div class="checkbox">
          <input class="checkbox__input" type="checkbox" id="has_never_had_an_allergic_reaction" name="has_never_had_an_allergic_reaction" />
          <label class="checkbox__label" for="has_never_had_an_allergic_reaction">I confirm that I have never had an allergic reaction to a flu shot</label>
        </div>

        <div class="checkbox">
          <input class="checkbox__input" type="checkbox" id="no_active_neurological_disorder" name="no_active_neurological_disorder" />
          <label class="checkbox__label" for="no_active_neurological_disorder">I confirm that I do not have an active neurological disorder</label>
        </div>

        <div class="checkbox">
          <input class="checkbox__input" type="checkbox" id="no_history_of_guillian_barre_syndrome" name="no_history_of_guillian_barre_syndrome" />
          <label class="checkbox__label" for="no_history_of_guillian_barre_syndrome">I confirm that I do not have a history of Guillain-Barre syndrome</label>
        </div>

        <div class="checkbox">
          <input class="checkbox__input" type="checkbox" id="not_allergic_to_eggs" name="not_allergic_to_eggs"  />
          <label class="checkbox__label" for="not_allergic_to_eggs">I confirm that I am not allergic to eggs or egg products</label>
        </div>

        <div class="checkbox">
          <input class="checkbox__input" type="checkbox" id="not_taking_blood_thinners" name="not_taking_blood_thinners" />
          <label class="checkbox__label" for="not_taking_blood_thinners">I confirm that I am not taking blood thinners,  steroids or anti-epileptic medications</label>
        </div>

        <div class="checkbox mb-1">
          <input class="checkbox__input" type="checkbox" id="consent" name="consent"  />
          <label class="checkbox__label" for="consent">I consent for a care provider at the South Hill Family Health Centre to give myself and the above-listed dependent(s) the flu shot.  I am aware of risks and benefits and the need to stay nearby for 15 minutes.</label>
        </div>
      </div>

        <div class="form-segment segment__clear">
          <label for="availability">Specify if you want to come between 9am and 12pm or 2pm and 5pm and your preferred dates</label>
          <textarea
            name="availability"
            id="availability"
            rows="3"
            required
          >{{ old:availability }}</textarea>
        </div>

        <label for="ldkFKNlkIldkng" class="ldkFKNlkIldkng"
          >If you are a person, do not fill in this field</label
        >
        <input
          id="ldkFKNlkIldkng"
          type="tel"
          name="ldkFKNlkIldkng"
          class="ldkFKNlkIldkng"
          tabindex="-1"
        />

        <div class="segment__submit">
          <button id="submit" class="btn" type="submit" disabled>Send</button>
        </div>
      </div>

      {{ /form:create }}
    </div>
  </div>
</div>
