{{ partial:masthead }}

<div class="content__wrapper content__wrapper--page">

    <div class="content__main">

      {{ content }}

        {{ form:create in="history" attr="class:form|id:history" }}

          {{ if {form:errors in="history"} }}
            <div class="alert alert--danger">
              {{ form:errors in="history" }}
                {{ value }}<br>
              {{ /form:errors }}
            </div>
          {{ /if }}

          {{ if {form:success in="history"} }}
            <div class="alert alert--success">
              <span class="icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12 11.016l8.016-5.016h-16.031zM20.016 18v-9.984l-8.016 4.969-8.016-4.969v9.984h16.031zM20.016 3.984c1.078 0 1.969 0.938 1.969 2.016v12c0 1.078-0.891 2.016-1.969 2.016h-16.031c-1.078 0-1.969-0.938-1.969-2.016v-12c0-1.078 0.891-2.016 1.969-2.016h16.031z"></path>
                </svg>
              </span>
              Form was submitted successfully.
            </div>
          {{ /if }}

          <div class="segment__header">
            Personal Information
          </div>

          <div class="segment__row">
            <div class="form-segment form__segment--third">
              <label for="history_first_name">First Name</label>
              <input name="history_first_name" id="history_first_name" type="text" value="{{ old:history_first_name }}" autocorrect="off" autocomplete="given-name">
            </div>

            <div class="form-segment form__segment--third">
              <label for="history_last_name">Last Name</label>
              <input name="history_last_name" id="history_last_name" type="text" value="{{ old:history_last_name }}" autocorrect="off" autocomplete="family-name">
            </div>

            <div class="form-segment form__segment--third">
              <label for="history_email">Email address</label>
              <input name="history_email" id="history_email" type="email" value="{{ old:history_email }}" autocapitalize="off" autocorrect="off" autocomplete="email">
            </div>
          </div>

          <div class="segment__row">
            <div class="form-segment form__segment--half">

              <label for="history_month_of_birth">Date of birth</label>

              <div class="form-segment--date">
                <div class="field__wrapper field--select field--month">
                  <div class="dropdown">
                    <select name="history_month_of_birth" id="history_month_of_birth" value="{{ old:history_month_of_birth }}">
                       <option disabled selected value></option>
                       <option value="january">Jan</option>
                       <option value="february">Feb</option>
                       <option value="march">Mar</option>
                       <option value="april">Apr</option>
                       <option value="may">May</option>
                       <option value="june">Jun</option>
                       <option value="july">Jul</option>
                       <option value="august">Aug</option>
                       <option value="september">Sep</option>
                       <option value="october">Oct</option>
                       <option value="november">Nov</option>
                       <option value="december">Dec</option>
                    </select>
                    <span class="placeholder__text">Month</span>
                  </div>
                </div>
                <span class="divider">/</span>

                <div class="field__wrapper field--day">
                  <input name="history_day_of_birth" id="history_day_of_birth" type="text"  pattern="[0-9]*" value="{{ old:history_day_of_birth }}">
                  <span class="placeholder__text">Day</span>
                </div>
                <span class="divider">/</span>

                <div class="field__wrapper field--year">
                  <input name="history_year_of_birth" id="history_year_of_birth" type="text"  pattern="[0-9]*" value="{{ old:history_year_of_birth }}">
                  <span class="placeholder__text">Year</span>
                </div>
              </div>
            </div>

            <div class="form-segment form__segment--half">
              <label for="sex">Sex (assigned at birth)</label>
              <div class="radio__group">
                <label class="radio__label" for="historyFemale">
                  <input type="radio" name="sex_assigned_at_birth" value="Female" id="historyFemale" value="{{ old:sex_assigned_at_birth }}" />
                  <span class="radio__value">Female</span>
                </label>
                <label class="radio__label" for="historyMale">
                  <input type="radio" name="sex_assigned_at_birth" value="Male" id="historyMale" value="{{ old:sex_assigned_at_birth }}" />
                  <span class="radio__value">Male</span>
                </label>
              </div>
            </div>
          </div>

          <div class="segment__row">
            <div class="form-segment form__segment--half">
              <label for="history_gender_identify">Gender you identify with</label>
              <input name="history_gender_identify" id="history_gender_identify" type="text" value="{{ old:history_gender_identify }}">
            </div>

            <div class="form-segment form__segment--half">
              <label for="preferred_pronoun">Preferred Pronoun</label>
              <input name="preferred_pronoun" id="preferred_pronoun" type="text" value="{{ old:preferred_pronoun }}">
            </div>
          </div>

          <div class="segment__row">
            <div class="form-segment form__segment--half">
              <label for="current_height">Current Height</label>
              <input name="current_height" id="current_height" type="text" value="{{ old:current_height }}">
            </div>
            <div class="form-segment form__segment--half">
              <label for="current_weight">Current Weight</label>
              <input name="current_weight" id="current_weight" type="text" value="{{ old:current_weight }}">
            </div>
          </div>

          <div class="form-segment">
            <label>Do you have any children/dependants in your care?</label>
            <div class="radio__group">
              <label class="radio__label">
                <input type="radio" name="history_dependants" value="Yes " id="dependantsYes"  value="{{ old:history_dependants }}" />
                <span class="radio__value">Yes</span>
              </label>
              <label class="radio__label" for="dependantsNo">
                <input type="radio" name="history_dependants" value="No " id="dependantsNo" value="{{ old:history_dependants }}" />
                <span class="radio__value">No</span>
              </label>
            </div>
          </div>

          <div class="form-segment form__segment--detail js-dependants-detail is-hidden">
            <label for="history_dependants_detail">Please list their names and ages</label>
            <textarea name="history_dependants_detail" id="history_dependants_detail" rows="3">{{ old:history_dependants_detail }}</textarea>
          </div>

          <div class="segment__header segment__clear">
            Medical history
          </div>

          <div class="form-segment">
            <label for="history_provider">Where have you received your primary health care before today?</label>
            <div class="radio__group">
              <label class="radio__label">
                <input type="radio" name="history_provider" value="Doctor" id="doctor"  value="{{ old:history_provider }}" />
                <span class="radio__value">Doctor</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="history_provider" value="NP" id="np" value="{{ old:history_provider }}" />
                <span class="radio__value">Nurse Practitioner</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="history_provider" value="Walk-in Clinic" id="walk-in-clinic" value="{{ old:history_provider }}" />
                <span class="radio__value">Walk-in Clinics</span>
              </label>
            </div>
          </div>

          <div class="form-segment">
            <label for="send_medical_records">Where should we send for your medical records? </label>
            <textarea name="send_medical_records" id="send_medical_records" rows="3">{{ old:send_medical_records }}</textarea>
          </div>

          <div class="form-segment">
            <label for="other_provider">Other providers involved in your health care?</label>
            <div class="radio__group">
              <label class="radio__label">
                <input type="radio" name="other_provider" value="Specialist MD" id="doctor"  value="{{ old:other_provider }}" />
                <span class="radio__value">Specialist MD</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="other_provider" value="Naturopath" id="np" value="{{ old:other_provider }}" />
                <span class="radio__value">Naturopath</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="other_provider" value="Chiropractor" id="walk-in-clinic" value="{{ old:other_provider }}" />
                <span class="radio__value">Chiropractor</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="other_provider" value="Acupuncture" id="walk-in-clinic" value="{{ old:other_provider }}" />
                <span class="radio__value">Acupuncture</span>
              </label>
            </div>
          </div>

          <div class="form-segment">
            <label for="urgent_medical_concerns">Do you have any urgent medical concerns?</label>
            <textarea name="urgent_medical_concerns" id="urgent_medical_concerns" rows="3">{{ old:urgent_medical_concerns }}</textarea>
          </div>

          <div class="form-segment">
            <label for="surgeries">Have you had any surgeries?</label>
            <textarea name="surgeries" id="surgeries" rows="3">{{ old:surgeries }}</textarea>
          </div>

          <div class="form-segment">
            <label for="past_medical_history">Briefly describe your past medical history (including mental health)</label>
            <textarea name="past_medical_history" id="past_medical_history" rows="3">{{ old:past_medical_history }}</textarea>
          </div>

          <div class="form-segment">
            <label for="family_medical_history">Any significant family medical history?</label>
            <textarea name="family_medical_history" id="family_medical_history" rows="3">{{ old:family_medical_history }}</textarea>
          </div>

          <div class="form-segment">
            <label for="medications">Do you take any medications? Please list</label>
            <textarea name="medications" id="medications" rows="3">{{ old:medications }}</textarea>
          </div>

          <div class="form-segment">
            <label>Do you have an allergies to medication?</label>
            <div class="radio__group">
              <label class="radio__label">
                <input type="radio" name="allergies" id="allergiesMedNo" value="No " value="{{ old:allergies }}" />
                <span class="radio__value">No</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="allergies" id="allergiesMedYes" value="Yes "  value="{{ old:allergies }}" />
                <span class="radio__value">Yes</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="allergies" id="allergiesMedUnsure" value="Unsure "  value="{{ old:allergies }}" />
                <span class="radio__value">Unsure</span>
              </label>
            </div>
          </div>

          <div class="form-segment">
            <label>Are your vaccines up to date?</label>
            <div class="radio__group">
              <label class="radio__label">
                <input type="radio" name="vaccines" id="vaccinesNo" value="No " value="{{ old:vaccines }}" />
                <span class="radio__value">No</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="vaccines" id="vaccinesYes" value="Yes " value="{{ old:vaccines }}" />
                <span class="radio__value">Yes</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="vaccines" id="vaccinesUnsure" value="Unsure " value="{{ old:vaccines }}" />
                <span class="radio__value">Unsure</span>
              </label>
            </div>
          </div>

          <div class="form-segment">
            <label for="history_dependants">Is there any emotional or physical trauma you’d like us to know about?</label>
            <div class="radio__group">
              <label class="radio__label">
                <input type="radio" name="physical_or_emotional_trauma" value="No " id="traumaNo" value="{{ old:physical_or_emotional_trauma }}" />
                <span class="radio__value">No</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="physical_or_emotional_trauma" value="Yes " id="traumaYes"  value="{{ old:physical_or_emotional_trauma }}" />
                <span class="radio__value">Yes</span>
              </label>
            </div>
          </div>

          <div class="segment__row">
            <div class="form-segment form__segment--half">
              <label for="history_dependants">Do you smoke cigarettes?</label>
              <div class="radio__group">
                <label class="radio__label">
                  <input type="radio" name="cigarettes" value="No " id="cigarettesNo" value="{{ old:cigarettes }}" />
                  <span class="radio__value">No</span>
                </label>
                <label class="radio__label">
                  <input type="radio" name="cigarettes" value="Yes " id="cigarettesYes"  value="{{ old:cigarettes }}" />
                  <span class="radio__value">Yes</span>
                </label>
              </div>
            </div>

            <div class="form-segment form__segment--half segment__detail--inline">
              <div class="js-cigarettes-amount is-hidden">
                <label for="how_many_cigarettes">How many per day?</label>
                <input name="how_many_cigarettes" id="how_many_cigarettes" type="text" value="{{ old:how_many_cigarettes }}">
              </div>
            </div>
          </div>

          <div class="segment__row">
            <div class="form-segment form__segment--half">
              <label>Do you drink alcohol?</label>
              <div class="radio__group">
                <label class="radio__label">
                  <input type="radio" name="alcohol" value="No " id="alcoholNo" value="{{ old:alcohol }}" />
                  <span class="radio__value">No</span>
                </label>
                <label class="radio__label">
                  <input type="radio" name="alcohol" value="Yes " id="alcoholYes"  value="{{ old:alcohol }}" />
                  <span class="radio__value">Yes</span>
                </label>
              </div>
            </div>

            <div class="form-segment form__segment--half segment__detail--inline">
              <div class="js-drinks-amount is-hidden">
                <label for="how_many_drinks">How many drinks per week?</label>
                <input name="how_many_drinks" id="how_many_drinks" type="text" value="{{ old:how_many_drinks }}">
              </div>
            </div>
          </div>

          <div class="form-segment">
            <label>Any other substance use (eg; marijuana, etc?)</label>
            <div class="radio__group">
              <label class="radio__label">
                <input type="radio" name="substance" value="No " id="substanceNo" value="{{ old:substance }}" />
                <span class="radio__value">No</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="substance" value="Yes " id="substanceYes"  value="{{ old:substance }}" />
                <span class="radio__value">Yes</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="substance" value="Past use " id="substancePast"  value="{{ old:substance }}" />
                <span class="radio__value">Past use</span>
              </label>
            </div>
          </div>

          <div class="form-segment">
            <label for="exercise">What do you do for exercise?</label>
            <input name="exercise" id="exercise" type="text" value="{{ old:exercise }}">
          </div>

          <div class="form-segment">
            <label for="occupation">What is your work/job? How do you support yourself financially? </label>
            <input name="occupation" id="occupation" type="text" value="{{ old:occupation }}">
          </div>

          <div class="form-segment">
            <label>Do you have any worries about money or housing?</label>
            <div class="radio__group">
              <label class="radio__label">
                <input type="radio" name="worries_about_money" value="No " id="worriesAboutMoneyNo" value="{{ old:worries_about_money }}" />
                <span class="radio__value">No</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="worries_about_money" value="Yes " id="worriesAboutMoneyYes"  value="{{ old:worries_about_money }}" />
                <span class="radio__value">Yes</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="worries_about_money" value="Sometimes " id="worriesAboutMoneyPast"  value="{{ old:worries_about_money }}" />
                <span class="radio__value">Sometimes</span>
              </label>
            </div>
          </div>

          <div class="form-segment">
            <label>Do you have good support from family, friends or church community?</label>
            <div class="radio__group">
              <label class="radio__label">
                <input type="radio" name="support" value="No " id="supportNo" value="{{ old:support }}" />
                <span class="radio__value">No</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="support" value="Yes " id="supportYes"  value="{{ old:support }}" />
                <span class="radio__value">Yes</span>
              </label>
              <label class="radio__label">
                <input type="radio" name="support" value="Feel alone " id="supportALone"  value="{{ old:support }}" />
                <span class="radio__value">I feel alone</span>
              </label>
            </div>
          </div>

          <div class="js-female is-hidden">
            <div class="segment__header segment__clear">
              Obstetrical History
            </div>

            <div class="form-segment">
              <label>Have you given birth?</label>
              <div class="radio__group">
                <label class="radio__label">
                  <input type="radio" name="history_given_birth" value="No " id="historyBirthNo" value="{{ old:history_given_birth }}" />
                  <span class="radio__value">No</span>
                </label>
                <label class="radio__label">
                  <input type="radio" name="history_given_birth" value="Yes " id="historyBirthYes"  value="{{ old:history_given_birth }}" />
                  <span class="radio__value">Yes</span>
                </label>
              </div>
            </div>

            <div class="is-hidden js-birth-yes">
              <div class="segment__row">
                <div class="form-segment form__segment--third">
                  <label for="birth_year1">Year</label>
                  <input name="birth_year1" id="birth_year1" type="number" value="{{ old:birth_year1 }}">
                </div>
                <div class="form-segment form__segment--third">
                  <label>Delivery</label>
                  <div class="radio__group">
                    <label class="radio__label">
                      <input type="radio" name="delivery1" value="Vaginal" id="vaginal1" value="{{ old:delivery1 }}" />
                      <span class="radio__value">Vaginal</span>
                    </label>
                    <label class="radio__label">
                      <input type="radio" name="delivery1" value="Cesarean" id="cesarean1"  value="{{ old:delivery1 }}" />
                      <span class="radio__value">Cesarean</span>
                    </label>
                  </div>
                </div>
                <div class="form-segment form__segment--third">
                  <label for="birth_weight1">Birth weight</label>
                  <input name="birth_weight1" id="birth_weight1" type="text" value="{{ old:birth_weight1 }}">
                </div>
              </div>

              <div class="segment__row">
                <div class="form-segment form__segment--third">
                  <label for="birth_year2">Year</label>
                  <input name="birth_year2" id="birth_year2" type="number" value="{{ old:birth_year2 }}">
                </div>
                <div class="form-segment form__segment--third">
                  <label>Delivery</label>
                  <div class="radio__group">
                    <label class="radio__label">
                      <input type="radio" name="delivery2" value="Vaginal" id="vaginal2" value="{{ old:delivery2 }}" />
                      <span class="radio__value">Vaginal</span>
                    </label>
                    <label class="radio__label">
                      <input type="radio" name="delivery2" value="Cesarean" id="cesarean2"  value="{{ old:delivery2 }}" />
                      <span class="radio__value">Cesarean</span>
                    </label>
                  </div>
                </div>
                <div class="form-segment form__segment--third">
                  <label for="birth_weight2">Birth weight</label>
                  <input name="birth_weight2" id="birth_weight2" type="text" value="{{ old:birth_weight2 }}">
                </div>
              </div>

              <div class="segment__row">
                <div class="form-segment form__segment--third">
                  <label for="birth_year3">Year</label>
                  <input name="birth_year3" id="birth_year3" type="number" value="{{ old:birth_year3 }}">
                </div>
                <div class="form-segment form__segment--third">
                  <label>Delivery</label>
                  <div class="radio__group">
                    <label class="radio__label">
                      <input type="radio" name="delivery3" value="Vaginal" id="vaginal3" value="{{ old:delivery3 }}" />
                      <span class="radio__value">Vaginal</span>
                    </label>
                    <label class="radio__label">
                      <input type="radio" name="delivery3" value="Cesarean" id="cesarean3"  value="{{ old:delivery3 }}" />
                      <span class="radio__value">Cesarean</span>
                    </label>
                  </div>
                </div>
                <div class="form-segment form__segment--third">
                  <label for="birth_weight3">Birth weight</label>
                  <input name="birth_weight3" id="birth_weight3" type="text" value="{{ old:birth_weight3 }}">
                </div>
              </div>
            </div>


            <div class="segment__header segment__clear">
              Gynecological History
            </div>

            <div class="form-segment">
              <label for="last_pap_smear">Year last pap smear</label>
              <input name="last_pap_smear" id="last_pap_smear" value="{{ old:last_pap_smear }}" type="number" pattern="[0-9]*">
            </div>

            <div class="segment__row">
              <div class="form-segment form__segment--half">
                <label>Colposcopy?</label>
                <div class="radio__group">
                  <label class="radio__label">
                    <input type="radio" name="colposcopy" value="No " id="colposcopyNo" value="{{ old:colposcopy }}" />
                    <span class="radio__value">No</span>
                  </label>
                  <label class="radio__label">
                    <input type="radio" name="colposcopy" value="Yes " id="colposcopyYes"  value="{{ old:colposcopy }}" />
                    <span class="radio__value">Yes</span>
                  </label>
                </div>
              </div>
              <div class="form-segment form__segment--half">
                <label>LEEP procedure?</label>
                <div class="radio__group">
                  <label class="radio__label">
                    <input type="radio" name="leep_procedure" value="No " id="leepNo" value="{{ old:leep_procedure }}" />
                    <span class="radio__value">No</span>
                  </label>
                  <label class="radio__label">
                    <input type="radio" name="leep_procedure" value="Yes " id="leepYes"  value="{{ old:leep_procedure }}" />
                    <span class="radio__value">Yes</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-segment">
              <label for="last_mammogram">Year last mammogram</label>
              <input name="last_mammogram" id="last_mammogram" type="number" value="{{ old:last_mammogram }}" pattern="[0-9]*">
            </div>
          </div>

          <input type="text" name="traptraptrap" class="traptraptrap" tabindex="-1" />

          <div class="segment__submit">
            <button class="btn" type="submit">Submit</button>
          </div>

        {{ /form:create }}

    </div>
</div>
