{{ partial:masthead }}

<div class="content__wrapper content__wrapper--home">
  <div class="content__main content__main--home">
    {{ if alert_toggle }}
    <div class="card--urgent mb-2 show-mobile">
      <a class="card__link" href="{{ alert_link }}">
        <h3 class="card__title card__title--flex">{{ alert_title }}</h3>
        <p>{{ alert_teaser }}</p>
      </a>
    </div>
    {{ /if }} {{ content }}
  </div>
</div>

<aside class="cards">
  {{ if alert_toggle }}
  <div class="card card--urgent hide-mobile">
    <a class="card__link" href="{{ alert_link }}">
      <h3 class="card__title card__title--flex">{{ alert_title }}</h3>
      <p>{{ alert_teaser }}</p>
    </a>
  </div>
  {{ /if }} {{ if accepting_new_patients }}
  <div class="card card--register">
    <a class="card__link" href="/how-to-register">
      <h3 class="card__title">Currently accepting new patients</h3>
      <div class="icon__signup">
        <svg
          class="icon__paper"
          id="paper"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 36 36"
        >
          <title>paper</title>
          <path
            d="M4.57,36.21a4.37,4.37,0,0,1-3.23-1.34A4.37,4.37,0,0,1,0,31.63V4.57A4.37,4.37,0,0,1,1.34,1.34,4.37,4.37,0,0,1,4.57,0H16.41a1.12,1.12,0,0,1,.84.35,1.14,1.14,0,0,1,.35.84,1.14,1.14,0,0,1-.35.84,1.12,1.12,0,0,1-.84.35H4.57A2.19,2.19,0,0,0,2.38,4.57V31.63a2.19,2.19,0,0,0,2.19,2.19H31.63a2.19,2.19,0,0,0,2.19-2.19V19.79a1.19,1.19,0,0,1,2.38,0V31.63a4.58,4.58,0,0,1-4.57,4.57H4.57Z"
          />
        </svg>
        <svg
          class="icon__pen"
          version="1.1"
          id="pen"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 36 36"
          xml:space="preserve"
        >
          <path
            d="M3.3,27.5l5.1,5L0,36L3.3,27.5z M5.4,24.5L24.2,5.8l6,6L11.4,30.5L5.4,24.5z M26.7,3.2L29,1c1.2-1.3,3.2-1.3,4.5-0.1 c0,0,0.1,0.1,0.1,0.1L35,2.4c1.3,1.2,1.3,3.2,0.1,4.5c0,0-0.1,0.1-0.1,0.1l-2.3,2.3L26.7,3.2z"
          />
        </svg>
      </div>
      Find out how to register
    </a>
  </div>
  {{ /if }}

  <div class="card card--appointment">
    <a
      class="card__link"
      href="https://veribook.com/lp/SouthHill"
      target="_blank"
      rel="nofollow noopener"
    >
      <h3 class="card__title">Already a patient?</h3>
      <div class="icon__clock">
        <div class="clock__hands"></div>
      </div>
      Book an appointment
    </a>
  </div>

  <div class="card card--contact">
    <a class="card__link" href="/contact-and-hours">
      <h3 class="card__title">How to Contact Us</h3>
      <div class="card__text">{{ clinic_address }}</div>
      Contact Us
    </a>
  </div>

  <div class="card card--hours">
    <h3 class="card__title">Hours</h3>
    <table>
      {{ clinic_hours }}
      <tr>
        <td>{{ day }}</td>
        <td>{{ hours }}</td>
      </tr>
      {{ /clinic_hours }}
    </table>
  </div>
</aside>
