{{ partial:masthead }}

<div class="content__wrapper content__wrapper--page">

  {{ if accepting_new_patients }}
    <div class="content__main">

      {{ content }}

      {{ form:create in="register" attr="class:form|id:register" }}

        {{ if {form:errors in="register"} }}
          <div class="alert alert--danger">
            {{ form:errors in="register" }}
              {{ value }}<br>
            {{ /form:errors }}
          </div>
        {{ /if }}

        {{ if {form:success in="register"} }}
          <div class="alert alert--success">
            <span class="icon">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
              <path d="M12 11.016l8.016-5.016h-16.031zM20.016 18v-9.984l-8.016 4.969-8.016-4.969v9.984h16.031zM20.016 3.984c1.078 0 1.969 0.938 1.969 2.016v12c0 1.078-0.891 2.016-1.969 2.016h-16.031c-1.078 0-1.969-0.938-1.969-2.016v-12c0-1.078 0.891-2.016 1.969-2.016h16.031z"></path>
              </svg>
            </span>
            Form was submitted successfully.
          </div>
        {{ /if }}

        <div class="segment__header">
          Personal Information
        </div>

        <div class="form-segment">
          <label for="care_card">What is the number on your care card?</label>
          <input name="care_card" id="care_card" type="number" value="{{ old:care_card }}"  pattern="[0-9]*">
        </div>

        <div class="segment__row">
          <div class="form-segment form__segment--third">
            <label for="first_name">First Name</label>
            <input name="first_name" id="first_name" type="text" value="{{ old:first_name }}" autocorrect="off" autocomplete="given-name">
          </div>
          <div class="form-segment form__segment--third">
            <label for="last_name">Last Name</label>
            <input name="last_name" id="last_name" type="text" value="{{ old:last_name }}" autocorrect="off" autocomplete="family-name">
          </div>

          <div class="form-segment form__segment--third">
            <label for="preferred_name">Do you have a preferred name you go by? (optional)</label>
            <input name="preferred_name" id="preferred_name" type="text" value="{{ old:preferred_name }}" autocorrect="off">
          </div>
        </div>

        <div class="segment__row">
          <div class="form-segment form__segment--half">
            <label for="sex">Sex (assigned at birth)</label>
            <div class="radio__group">
              <label class="radio__label" for="female">
                <input type="radio" name="sex_assigned_at_birth" value="Female" id="female" value="{{ old:sex_assigned_at_birth }}" />
                <span class="radio__value">Female</span>
              </label>
              <label class="radio__label" for="male">
                <input type="radio" name="sex_assigned_at_birth" value="Male" id="male" value="{{ old:sex_assigned_at_birth }}" />
                <span class="radio__value">Male</span>
              </label>
            </div>
          </div>

          <div class="form-segment form__segment--half">
            <label for="gender_identify">What gender do you identify with? (optional)</label>
            <div class="field__wrapper">
              <input name="gender_identify" id="gender_identify" type="text" value="{{ old:gender_identify }}">
              <span class="placeholder__text">He/She/They/It</span>
            </div>
          </div>
        </div>

        <div class="segment__row">
          <div class="form-segment form__segment--half">

              <label for="month_of_birth">Date of birth</label>

              <div class="form-segment--date">
                <div class="field__wrapper field--select field--month">
                  <div class="dropdown">
                    <select name="month_of_birth" id="month_of_birth" value="{{ old:month_of_birth }}">
                       <option value="month"></option>
                       <option value="january">Jan</option>
                       <option value="february">Feb</option>
                       <option value="march">Mar</option>
                       <option value="april">Apr</option>
                       <option value="may">May</option>
                       <option value="june">Jun</option>
                       <option value="july">Jul</option>
                       <option value="august">Aug</option>
                       <option value="september">Sep</option>
                       <option value="october">Oct</option>
                       <option value="november">Nov</option>
                       <option value="december">Dec</option>
                    </select>
                    <span class="placeholder__text">Month</span>
                  </div>
                </div>
                <span class="divider">/</span>

                <div class="field__wrapper field--day">
                  <input name="day_of_birth" id="day_of_birth" type="text" value="{{ old:day_of_birth }}" pattern="[0-9]*">
                  <span class="placeholder__text">Day</span>
                </div>
                <span class="divider">/</span>

                <div class="field__wrapper field--year">
                  <input name="year_of_birth" id="year_of_birth" type="text" value="{{ old:year_of_birth }}" pattern="[0-9]*">
                  <span class="placeholder__text">Year</span>
                </div>
              </div>

          </div>

          <div class="form-segment form__segment--half">
            <label for="occupation">Your Occupation</label>
            <input name="occupation" id="occupation" type="text" value="{{ old:occupation }}">
          </div>
        </div>

        <div class="segment__header segment__clear">
          Contact Information
        </div>

        <div class="form-segment">
          <label for="street">Street Address</label>
          <input name="street" id="street" type="text" value="{{ old:street }}" autocorrect="off" autocomplete="address-line1">
        </div>

        <div class="form-segment">
          <label for="city">City</label>
          <input name="city" id="city" type="text" value="{{ old:city }}" autocorrect="off" autocomplete="address-level2">
        </div>

        <div class="form-segment">
          <label for="postal_code">Postal Code</label>
          <input name="postal_code" id="postal_code" type="text" value="{{ old:postal_code }}" autocorrect="off" autocomplete="postal-code">
        </div>

        <div class="segment__row">
          <div class="form-segment form__segment--third">
            <label for="email">Email Address</label>
            <input name="email" id="email" type="email" autocapitalize="off" autocorrect="off" autocomplete="email" value="{{ old:email }}">
          </div>
          <div class="form-segment form__segment--third">
            <label for="primary_phone">Primary Phone Number</label>
            <input name="primary_phone" id="primary_phone" value="{{ old:primary_phone }}" type="tel" autocorrect="off" autocomplete="tel">
          </div>

          <div class="form-segment form__segment--third">
            <label for="secondary_phone">Secondary Phone Number (optional)</label>
            <input name="secondary_phone" id="secondary_phone" value="{{ old:secondary_phone }}" type="tel" autocorrect="off" autocomplete="tel">
          </div>
        </div>

        <div class="segment__header segment__clear">
          Other Information (Optional)
        </div>

        <div class="form-segment segment__clear">
          <label for="legalCases">Do you have any active medical-legal cases, including ICBC or WCB?</label>
          <div class="radio__group">
            <label class="radio__label" for="legalYes">
              <input type="radio" name="legal" value="Yes " id="legalYes" value="{{ old:legal }}" />
              <span class="radio__value">Yes</span>
            </label>
            <label class="radio__label" for="legalNo">
              <input type="radio" name="legal" value="No " id="legalNo" value="{{ old:legal }}" />
              <span class="radio__value">No</span>
            </label>
          </div>
        </div>

        <div class="form-segment form__segment--detail js-legal-yes is-hidden">
          <label for="legal_detail">Please specify</label>
          <textarea name="legal_detail" id="legal_detail" type="text" rows="3" value="{{ old:legal_detail }}"></textarea>
        </div>

        <div class="form-segment">
          <label for="dependants">Do you have any dependents or family members you would like to register who live in the same household as you?</label>
          <div class="radio__group">
            <label class="radio__label">
              <input type="radio" name="dependants" value="Yes " id="dependantsYes"  value="{{ old:dependants }}" />
              <span class="radio__value">Yes</span>
            </label>
            <label class="radio__label" for="dependantsNo">
              <input type="radio" name="dependants" value="No " id="dependantsNo" value="{{ old:dependants }}" />
              <span class="radio__value">No</span>
            </label>
          </div>
        </div>

        <div class="form-segment form__segment--detail js-dependants-detail is-hidden">
          <label for="dependants_detail">Please list their names, date of birth and care card numbers</label>
          <textarea name="dependants_detail" id="dependants_detail" rows="3" value="{{ old:dependants_detail }}"></textarea>
        </div>

        <div class="form-segment">
          <label for="currentProvider">Do you have a primary care provider such as a family doctor, or nurse practitioner?</label>
          <div class="radio__group">
            <label class="radio__label">
              <input type="radio" name="provider" value="Yes " id="providerYes" value="{{ old:provider }}" />
              <span class="radio__value">Yes</span>
            </label>
            <label class="radio__label">
              <input type="radio" name="provider" value="No " id="providerNo" value="{{ old:provider }}" />
              <span class="radio__value">No</span>
            </label>
          </div>
        </div>

        <div class="form-segment form__segment--detail js-provider-detail is-hidden">
          <label for="provider_detail">What is the provider's name and clinic name?</label>
          <input name="provider_detail" id="provider_detail" type="text" value="{{ old:provider_detail }}">
        </div>

        <div class="form-segment js-pregnant is-hidden">
          <label for="currentProviderYes">Are you currently pregnant</label>
          <div class="radio__group">
            <label class="radio__label" for="pregnantYes">
              <input type="radio" name="pregnant" value="Yes " id="pregnantYes" value="{{ old:pregnant }}" />
              <span class="radio__value">Yes</span>
            </label>
            <label class="radio__label" for="pregnantNo">
              <input type="radio" name="pregnant" value="No " id="pregnantNo" value="{{ old:pregnant }}" />
              <span class="radio__value">No</span>
            </label>
          </div>
        </div>

        <div class="form-segment form__segment--detail js-seeking-maternity-care is-hidden">
          <label for="seeking_maternity_care">Are you seeking maternity care?</label>
          <div class="dropdown">
            <select name="seeking_maternity_care" id="seeking_maternity_care" value="{{ old:seeking_maternity_care }}">
               <option value="Yes ">Yes</option>
               <option value="No ">No, I already have a maternity care provider</option>
            </select>
          </div>
        </div>

        <div class="form-segment">
          <label for="hear_about">How did you hear about South Hill Family Health Centre?</label>
          <input name="hear_about" id="hear_about" type="text" value="{{ old:hear_about }}">
        </div>

        <input type="text" name="traptraptrap" class="traptraptrap" tabindex="-1" />

        <div class="segment__submit">
          <button class="btn" type="submit">Register</button>
        </div>

      {{ /form:create }}

    </div>
  {{ else }}
    <div class="content__main">
      {{ not_accepting_patients }}
    </div>
  {{ /if }}
</div>
