{{ partial:masthead }}

<div class="content__wrapper content__wrapper--page">
  <div class="content__main">
    <h2>Upcoming Events</h2>

    <div class="event__list">
      {{ collection:events }}
      <div class="event">
        <!-- <div class="event__date">
            <span class="event__day">{{ date }}</span>
          </div> -->
        <div class="event__description">
          <h3 class="event__title">{{ title }}</h3>
          <div class="event__teaser">{{ content }}</div>
        </div>
      </div>
      {{ /collection:events }}
    </div>

    <h2>Clinic Services</h2>

    <div class="collapse">
      {{ clinic_services }}
      <div class="collapse__item">
        <div class="collapse__header">
          <a
            href="#{{ id }}"
            aria-expanded="false"
            aria-controls="collapse1"
            class="collapse__title js-collapseTrigger"
            >{{ title }}</a
          >
        </div>

        <div
          class="collapse__content is-collapsed"
          id="{{ id }}"
          aria-hidden="true"
        >
          <div class="content__inner">{{ content }}</div>
        </div>
      </div>
      {{ /clinic_services }}
    </div>
  </div>
</div>
