{{ partial:masthead }}

<div class="content__wrapper content__wrapper--page">

  <div class="content__main">

    <div class="team__list">

        {{ collection:team }}
          <div class="team__item {{ switch between='|team__item--even' }}" data-trigger="modal">
            <div class="team__photo">
                {{ if headshot }}
                    {{ assets:headshot }}
                        <img class="lazyload" data-src="{{ glide:id preset="thumb" quality="75" }}" alt="{{ title }}">
                    {{ /assets:headshot }}
                {{ else }}
                    <img class="lazyload" src="{{ theme:img src="photo-soon.png" }}" alt="South Hill Family health Centre">
                {{ /if }}
            </div>
            <div class="team__description">
              <div class="team__member">
                <h3 class="team__name">{{ title }}</h3>
                <div class="team__position">{{ job_title }}</div>
              </div>
            </div>
          </div>
          <div class="modal team__bio" data-item="modal">
            <div class="modal__inner">
                <div class="close" data-trigger="close"></div>
                <div class="bio__header">
                  <div class="bio__photo">
                    {{ if headshot }}
                        {{ assets:headshot }}
                            <img class="lazyload" data-src="{{ url }}"  alt="{{ title }}">
                        {{ /assets:headshot }}
                    {{ else }}
                        <img class="lazyload" src="{{ theme:img src="photo-soon.png" }}" alt="South Hill Family health Centre">
                    {{ /if }}
                  </div>
                  <div class="bio__description">
                    <div class="description__content">
                      <div class="bio__name">{{ title }}</div>
                      <div class="bio__position">{{ job_title }}</div>
                    </div>
                  </div>
                </div>
                <div class="bio__content">
                  {{ content }}
                </div>
            </div>
          </div>
        {{ /collection:team }}

    </div>

  </div>

</div>