// ----------------------------------------------
// Colours
//-----------------------------------------------

// Greyscale
$white: #fdffff;
$grey-lighter: #e1f0f4;
$grey-light: #dae4eb;
$grey: #adb9c6;
$grey-dark: #697787;
$grey-darker: #263341;
$black: #041425;

$brand-primary: #30b1e3;

// brand colours
$background: #f4eddf;
$shadow-close: #eae3d5;

$link-color: #25a6c8;

$error: #9e3535;
$error-bg: #ffdada;

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

$font-size-root: 16px !default;

$base-font-family: "skolar-sans-latin", sans-serif;
$heading-font-family: "skolar-sans-latin", serif;

// Color
$base-font-color: $black;

// Font size
$base-font-size: $font-size-root;

// Line height
$base-line-height: 1.4;
$base-line-height-small: 1.25;
$heading-line-height: 1;

// Nav
$nav-width: 8rem;
$nav-width-small: 6.5rem;
$mobile-header-height: 4rem;

$box-width: 20rem;

// ------------------------------------------------------------
// Breakpoints
// ------------------------------------------------------------

// Change the grid settings
$max-width: 100%;

// Define your breakpoints (defaults to 12 columns)
$desktop-huge: new-breakpoint(min-width 1920px);
$desktop-xlarge: new-breakpoint(max-width 1920px);
$desktop-large: new-breakpoint(max-width 1520px);
$desktop: new-breakpoint(max-width 1200px);
$desktop-small: new-breakpoint(max-width 960px);
$tablet: new-breakpoint(max-width 800px);
$mobile: new-breakpoint(max-width 620px 6);
$mobile-small: new-breakpoint(max-width 500px 6);

// Vertical limit
$vertical-threshold: "screen and (max-height: 720px)";

// High contrast query (IE/Edge only)
$high-contrast-active: "screen and (-ms-high-contrast: active)";

// ------------------------------------------------------------
// Borders
// ------------------------------------------------------------

$border-width: 2px;
$border-color: $grey-light;
$base-border-radius: 0;

// ------------------------------------------------------------
// Animation
// ------------------------------------------------------------

$base-duration: 0.3s;
$base-timing: cubic-bezier(0.1, 0.8, 0.2, 1);
$transition-timing: cubic-bezier(0.1, 0.8, 0.2, 1);
$transition-duration: 0.3s;
$slide-duration: $transition-duration;
