// Font aliasing helper
@mixin antialiasing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Translate (3D only)
@mixin translate($x: 0, $y: 0, $z: 0) {
    @include transform(translate3d($x, $y, $z));
}

// Translate
@mixin translate($x: 0, $y: 0, $z: false) {
    @if $z {
        transform: translate3d($x, $y, $z);
    } @else {
        transform: translate($x, $y);
    }
}

// Force a hardware render
@mixin gpu-rendering {
    @include translate(0, 0, 0);
}

@mixin fill-parent($z-index) {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-index;
}

// Media query proxy to handle mobile and vertical breakpoints
@mixin media-breakpoint-proxy($breakpoint, $vertical: true) {
    @include media($breakpoint) {
        @content;
    }

    @if $vertical {
        @media #{$vertical-threshold} {
            @content;
        }
    }
}

// Text truncate (one line)
@mixin truncate($width: 100%, $inline: false) {
    @if $inline {
        max-width: $width;
    } @else {
        width: $width;
    }

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Multi-line truncate hack
@mixin truncate-multiline($height, $matte: $black, $min-height: 0, $line-height: 1.35, $ellipsis-width: 3em) {
    overflow: hidden;
    height: $height;
    line-height: $line-height;
    box-sizing: content-box;
    min-height: $min-height;

    & > *:first-child {
        float: right;
        width: 100%;
        margin-left: epx-calc(-5);
    }

    &::before {
        content: '';
        float: left;
        width: epx-calc(5);
        height: $height;
        line-height: $line-height;
    }

    &::after {
        @include reset-high-contrast;
        box-sizing: content-box;
        content: '\02026';
        float: right;
        position: relative;
        top: epx-calc(-25);
        left: 100%;
        width: $ellipsis-width;
        margin-left: -$ellipsis-width;
        padding: epx-calc(2) epx-calc(5) 0 0;
        text-align: right;
        white-space: nowrap;
        background: linear-gradient(to right, rgba($matte, 0), $matte 50%, $matte);

        @media #{$high-contrast-active} {
            box-shadow: -0.5em 0.5em 1em Window;
            background: Window;
            width: $ellipsis-width / 2;
            margin-left: -$ellipsis-width / 2;
        }
    }
}

// High contrast reset (typically used in combination with a custom treatment)
@mixin reset-high-contrast {
    @media #{$high-contrast-active} {
        -ms-high-contrast-adjust: none;
    }
}

// Aspect ratio sizer
@mixin aspect-ratio($width: 1, $height: 1, $inner: false, $inset: 0) {
    position: relative;

    @if $inner {
        & > * {
            position: absolute;
            top: $inset;
            left: $inset;
            bottom: $inset;
            right: $inset;
        }
    }

    &::before {
        display: block;
        content: '';
        padding-top: percentage($height / $width);
    }
}

// Animation delay offsetting (use sparingly; for several elements, set inline values via javascript)
@mixin animation-offset($name, $duration: 1s, $iteration: infinite, $fill: none, $easing: linear, $items: 1, $offset: 0.1s, $delay: 0) {
    & > * {
        animation: $name $duration $iteration $fill $easing;
        @for $i from 1 through $items {
            &:nth-child(#{$i}) {
                animation-delay: $delay + ($offset * $i);
            }
        }
    }
}

// Sub-section animation helper (@todo: per the above, consider javascript for this)
@mixin block-slide-offset($items: 1, $duration: 0.8s, $offset: 0.1s, $easing: $transition-timing, $delay: 0) {
    @include animation-offset(blockSlide, $duration, 1, forwards, $easing, $items, $offset, $delay);

    & > * {
        opacity: 0;
        transform: translate3d(0, 3rem, 0);
    }
}
