// Centering variable inline-block elements
.center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Generic disabled class
.disabled {
  opacity: 0.3;
  cursor: default !important;
  pointer-events: none;
}

.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}

.close {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 5;
  width: 4rem;
  height: 4rem;
  top: 0.5em;
  right: 0.5em;

  &:before,
  &:after {
    content: "";
    width: 3rem;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    background: $white;
    transition: transform $base-timing $base-duration;

    @include media($tablet) {
      width: 2rem;
    }
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    &:before {
      transform: rotate(225deg);
    }

    &:after {
      transform: rotate(-225deg);
    }
  }

  @include media($tablet) {
    width: 3rem;
    height: 3rem;
  }
}

.h-strong {
  font-weight: 600;
}

.alert {
  margin-top: 3rem;
  padding: 1rem;
}

.alert--danger {
  background-color: #ffdada;
  color: #9e3535;
}

.alert--success {
  background-color: $grey-lighter;
  color: $grey-dark;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.show-mobile {
  display: none;

  @include media($tablet) {
    display: block;
  }
}

.hide-mobile {
  @include media($tablet) {
    display: none;
  }
}
