<div class="masthead {{ if !segment_1 }}masthead--home {{ else }}masthead--page {{ endif }}">
    <a href="{{ site_url }}" class="masthead__logo {{ if !segment_1 }}masthead__logo--home{{ endif }}">
        <img src="{{ theme:img src="logo-dark.svg" }}" alt="South Hill Family health Centre">
    </a>
    <h1 class="masthead__title {{ if !segment_1 }}masthead__title--home{{ endif }}">{{ title }}</h1>

    <style>
        .masthead__image {
            {{ assets:masthead_image }}
                background-image: url('{{ url }}');
            {{ /assets:masthead_image }}
        }
        @media only screen and (max-width: 700px) {
            .masthead__image {
                {{ assets:masthead_image }}
                    background-image: url('{{ glide:id width="1000" height="666" quality="70" }}');
                {{ /assets:masthead_image }}
            }
        }
        @media only screen and (max-width: 400px) {
            .masthead__image {
                {{ assets:masthead_image }}
                    background-image: url('{{ glide:id width="600" height="400" quality="70" }}');
                {{ /assets:masthead_image }}
            }
        }
    </style>
    <div class="masthead__image lazyload"></div>
</div>