<nav class="c-nav c-nav--primary">
  <ul class="c-nav__list">
    {{ nav from="/" include_home="false" is_hidden:isnt_set="true" scope="tag"
    }}
    <li class="c-nav__item">
      <a
        class="c-nav__link{{ if is_current or is_parent }} is-active{{ /if }}"
        href="{{ url }}"
        >{{ tag:nav_title or title }}</a
      >
    </li>
    {{ /nav }}
  </ul>
  <ul class="c-nav__social">
    <li class="c-nav__item">
      <a
        href="https://www.facebook.com/southhillhealth/"
        target="_blank"
        rel="nofollow noopener"
        class="c-nav__icon"
      >
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 768 768"
        >
          <path
            fill="#4267B2"
            d="M587.328 179.968c-56-55.712-124.416-83.968-203.328-83.968-79.648 0-148.256 28.288-203.936 84-55.776 55.712-84.064 124.384-84.064 204 0 78.88 28.256 147.296 83.968 203.328 55.712 56.192 124.352 84.672 204.032 84.672 78.944 0 147.36-28.48 203.392-84.576 56.16-56.096 84.608-124.544 84.608-203.424 0-79.616-28.48-148.288-84.672-204.032zM542.144 542.176c-36.384 36.448-77.952 57.216-126.144 63.52v-157.696h64v-64h-64v-44.8c0-10.592 8.608-19.2 19.232-19.2h44.768v-64h-44.704c-23.744 0-43.552 8.736-59.424 26.304-15.872 17.504-23.872 38.88-23.872 64.256v37.44h-64v64h64v157.76c-48.704-6.24-90.432-27.040-126.624-63.488-44-44.288-65.376-96.064-65.376-158.272 0-62.912 21.344-114.816 65.344-158.72 43.84-43.936 95.744-65.28 158.656-65.28 62.24 0 113.984 21.376 158.24 65.376 44.256 43.904 65.76 95.808 65.76 158.624 0 62.112-21.536 113.888-65.856 158.176z"
          ></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>

<nav class="c-nav--mobile">
  <ul class="c-nav__list--mobile">
    <li class="c-nav__item--mobile">
      <a class="c-nav__link--mobile" href="/book-appointment"
        >Book Appointment</a
      >
    </li>
    <li class="c-nav__item--mobile">
      <a class="c-nav__link--mobile" href="/contact-and-hours">Contact</a>
    </li>
    <li class="c-nav__item--mobile">
      <div class="c-nav__toggle">
        <div class="c-nav__toggle-text">
          Menu <span class="c-nav__toggle-burger"></span>
        </div>
      </div>
    </li>
    <li class="c-nav__item--mobile">
      <a
        href="https://www.facebook.com/southhillhealth/"
        target="_blank"
        rel="nofollow noopener"
        class="c-nav__icon--mobile"
      >
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 768 768"
        >
          <path
            fill="#fff"
            d="M587.328 179.968c-56-55.712-124.416-83.968-203.328-83.968-79.648 0-148.256 28.288-203.936 84-55.776 55.712-84.064 124.384-84.064 204 0 78.88 28.256 147.296 83.968 203.328 55.712 56.192 124.352 84.672 204.032 84.672 78.944 0 147.36-28.48 203.392-84.576 56.16-56.096 84.608-124.544 84.608-203.424 0-79.616-28.48-148.288-84.672-204.032zM542.144 542.176c-36.384 36.448-77.952 57.216-126.144 63.52v-157.696h64v-64h-64v-44.8c0-10.592 8.608-19.2 19.232-19.2h44.768v-64h-44.704c-23.744 0-43.552 8.736-59.424 26.304-15.872 17.504-23.872 38.88-23.872 64.256v37.44h-64v64h64v157.76c-48.704-6.24-90.432-27.040-126.624-63.488-44-44.288-65.376-96.064-65.376-158.272 0-62.912 21.344-114.816 65.344-158.72 43.84-43.936 95.744-65.28 158.656-65.28 62.24 0 113.984 21.376 158.24 65.376 44.256 43.904 65.76 95.808 65.76 158.624 0 62.112-21.536 113.888-65.856 158.176z"
          ></path>
        </svg>
      </a>
    </li>
  </ul>
</nav>
