{{ name }} sent you a message
=============================
Subject: {{ reason_for_contact }}
Email: {{ email }}
Phone: {{ phone_number }}

Message: {{ message }}

---

<p><strong>Name:</strong> {{ name }}<br>
<strong>Subject:</strong> {{ reason_for_contact }}<br>
<strong>Email:</strong> {{ email }}<br>
<strong>Phone:</strong> {{ phone_number }}</p>
-<br>
<strong>Message:</strong> {{ message }}