Flu shot registration ============================= First name: {{ first_name }}
Last name: {{ first_name }} Date of birth: {{ month_of_birth }} {{ day_of_birth
}} {{ year_of_birth }} Email: {{ email }} Phone: {{ phone_number }} Dependants:
{{ dependants }} Availability: {{ availability }} ---

<h3>Flu Shot Registration</h3>
<p>
  First name: <strong>{{ first_name }}</strong><br />
  Last name: <strong>{{ last_name }}</strong><br />
  Date of birth:
  <strong>{{ month_of_birth }} {{ day_of_birth }} {{ year_of_birth }}</strong
  ><br />
  Email: <strong>{{ email }}</strong> <br />
  Phone: <strong>{{ phone_number }}</strong><br />
  Family size: <strong>{{ how_many_family_members }}</strong><br />
  Dependants: <strong>{{ dependants }}</strong><br />
  Availability: <strong>{{ availability }}</strong><br />
  May be pregnant? <strong>{{ not_pregnant }}</strong>
</p>

<h3>Consent</h3>
<p>
  I confirm that I am a patient at South Hill Family Health Centre:
  <strong> {{ if i_am_a_patient == "on" }} Checked{{ /if }}</strong><br />
  I confirm that I have not had a fever in the last 3 days:
  <strong>{{ if has_no_fever == "on" }}Checked{{ /if }}</strong><br />
  I confirm that I have never had an allergic reaction to a flu shot:
  <strong
    >{{ if has_never_had_an_allergic_reaction == "on" }}Checked{{ /if }}</strong
  ><br />
  I confirm that I do not have an active neurological disorder:
  <strong
    >{{ if no_active_neurological_disorder == "on" }}Checked{{ /if }}</strong
  ><br />
  I confirm that I do not have a history of Guillain-Barre syndrome:
  <strong
    >{{ if no_history_of_guillian_barre_syndrome == "on" }}Checked{{ /if
    }}</strong
  ><br />
  I confirm that I am not allergic to eggs or egg products:
  <strong>{{ if not_allergic_to_eggs == "on" }}Checked{{ /if }}</strong><br />
  I confirm that I am not taking blood thinners, steroids or anti-epileptic
  medications:
  <strong>{{ if not_taking_blood_thinners == "on" }}Checked{{ /if }}</strong
  ><br />
  I consent for a care provider at the South Hill Family Health Centre to give
  myself and the above-listed dependent(s) the flu shot. I am aware of risks and
  benefits and the need to stay nearby for 15 minutes.:
  <strong>{{ if consent == "on" }}Checked{{ /if }}</strong><br />
</p>
