 // Base button style
.btn {
    display: inline-block;
    position: relative;
    min-width: 6rem;
    padding: 0.5rem 2rem 0.75rem 2rem;
    color: $white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: $base-border-radius;
    background-color: $link-color;
    outline: none;
    cursor: pointer;
    transition: all $base-duration $base-timing;

    &:hover,
    &:focus {
        color: $white;
        background-color: rgba($link-color, 0.7);
        text-decoration: none;
    }

    &:active,
    &.active, {
        outline: 0;
        border-color: $white;
        background-image: none;
    }

    &:disabled {
        cursor: default;
        pointer-events: none;
        background: $grey-light;
    }

}
