.collapse {
  margin-bottom: 3rem;
}

.collapse__title {
    position: relative;
    font-weight: 700;
    padding: 1rem 1rem 1rem 2.5rem;
    display:block;
    text-decoration: none;
    color: $link-color;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 2px solid $grey-dark;

    &:before,
    &:after {
        content: '';
        width: 1rem;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0.5rem;
        background: $link-color;
        transition: transform $base-timing $base-duration;
    }

    &:before {
      transform: rotate(90deg);
    }

    &:hover {
        background-color: $grey-lighter;
    }

    &.is-expanded {
        background-color: $grey-lighter;

        &:before {
            transform: rotate(225deg);
        }

        &:after {
            transform: rotate(-225deg);
        }
    }
}

.collapse__content {
    height: auto;
    overflow: hidden;
    transition:max-height 1s;
    max-height: 100em;
    transition: max-height $base-duration $base-timing;

    &.is-collapsed {
        max-height: 0;
    }
}

.no-js .collapse__content {

    &.is-collapsed {
        max-height: auto;
    }
}

.content__inner {
    padding: 1rem 0;
}

.animateIn {
     animation: collapseIn $base-duration normal $base-timing both 1;
}

.animateOut {
     animation: collapseOut $base-duration alternate $base-timing both 1;
}

@keyframes collapseIn {

    0% {
        opacity: 0;
        transform:scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
    }

    100% {
        opacity:1;
        transform:scale(1);
    }
}

@keyframes collapseOut {
    0% {

       opacity: 1;
       transform:scale(1);
     }

    100% {
      opacity:0;
      transform:scale(0.9) rotateX(-60deg);
    }
}