.form--contact {
  margin-top: 3rem;
}

.form__wrapper {
  border-top: 1px solid $grey;
  transition: all $base-duration $base-timing;
}

input,
label,
select {
  display: block;
}

label {
  width: 100%;
  padding: 0.25rem 0.5rem 0 0.5rem;
  font-size: rem(14);
  font-weight: 600;
  color: $grey-dark;
  cursor: pointer;
  transition: all $base-duration $base-timing;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select,
textarea {
  height: 2.75rem;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  margin: 0 0.5rem;
  padding: 0.25rem 0 0.5rem 0;
  width: calc(100% - 0.5rem);
  box-shadow: none;
  appearance: none;
  font-weight: 600;
  color: $link-color;

  &:focus {
    outline: none;
  }
}

textarea {
  height: 2.75rem;
  transition: all $base-duration $base-timing;
  resize: vertical;
  overflow: hidden;
  margin-bottom: 0;
  line-height: 1.15;

  &:focus {
    height: 6rem;
    overflow: auto;
  }
}

input[type="radio"] {
  height: 0;
  opacity: 0;
}

input[type="radio"]:checked {
  & + .radio__value {
    color: $link-color;

    &:before {
      background: $link-color;
    }
  }
}

.field__wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 0.25rem;
}

.field--day {
  width: 2.5rem;
}

.field--year {
  width: 4rem;
}

.placeholder__text {
  position: absolute;
  top: 0.6rem;
  left: 0.5rem;
  z-index: -1;
  font-size: rem(16);
  color: $grey-dark;
}

.divider {
  display: inline-block;
  margin-top: 0.45rem;
}

.form-segment.has-focus > .checkbox__label {
  color: $grey-dark !important;
}

.checkbox {
  padding: 0.75rem 0;
  display: flex;
}

.checkbox__input {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.checkbox__label {
  padding-left: 2.25rem;
  position: relative;

  &:focus,
  &:hover {
    color: $black;
  }
}

.checkbox__label:before {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0.5rem;
  background-color: $grey-light;
}

.checkbox__input:checked + .checkbox__label:before {
  background-color: $link-color;
}

.checkbox__input:checked + .checkbox__label:after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0.35rem;
  left: 0.65rem;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M432%2064L192%20304%2080%20192%200%20272l192%20192%20320-320z%22%2F%3E%3C%2Fsvg%3E");
}

.radio__label {
  width: auto;
  display: inline-block;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: $grey-dark;
  line-height: 1;
}

.radio__value {
  position: relative;
  padding-left: 1.5rem;

  &:before {
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0;
    background: $grey-light;
    border-radius: 50%;
  }

  &.has-focus {
    &:before {
      border: 2px solid $link-color;
    }
  }
}

.dropdown {
  position: relative;
  display: block;
  overflow: hidden;

  &:before,
  &:after {
    content: " ";
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    top: 1.125rem;
    right: 0.75rem;
    background: $link-color;
    transition: all $base-duration $base-timing;
  }

  &:before {
    transform: rotate(-45deg) translateX(-3px) translateY(-1px);
  }

  &:after {
    transform: rotate(45deg) translateX(3px) translateY(-1px);
  }

  select {
    width: 4rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: window;
    text-indent: 0.01px;
    text-overflow: "";
    background: none;
    outline: none;
  }
}

.segment__row {
  width: 100%;
  display: table;
  clear: both;
  border-right: 1px solid $grey;

  > .form-segment {
    display: table-cell;

    @include media($mobile) {
      display: block;
    }
  }
}

.segment__row--sub {
  border: none;
}

.form-segment {
  position: relative;
  border: 1px solid $grey;
  border-top: none;

  &.has-focus {
    // background: #F7FBFC;

    > label {
      color: $grey-darker;
    }
  }

  &.has-value {
    background: rgba($brand-primary, 0.1);
  }

  &.has-error {
    background: $white;

    label {
      color: $error;
    }
  }
}

.form-segment--consent {
  &.has-value {
    background: transparent;
  }
}

.form-segment--sub {
  border: none;
}

.form__segment--half {
  width: 50%;
  border-right: none;

  @include media($mobile) {
    width: 100%;
    clear: both;
  }
}

.form__segment--third {
  width: 33.33334%;
  border-right: none;

  @include media($mobile) {
    width: 100%;
    clear: both;
  }
}

.form__segment--quarter {
  width: 25%;
  border-right: none;
}

.segment__clear {
  clear: both;
}

.form__segment--detail {
  position: relative;

  > label {
    padding-top: 0.75rem;
  }
}

.form__segment--detail:after,
.form__segment--detail:before {
  top: -1px;
  left: 2rem;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.form__segment--detail:after {
  border-color: rgba($white, 0);
  border-top-color: $grey-lighter;
  border-width: 8px;
  margin-left: -8px;
}
.form__segment--detail:before {
  border-color: rgba($grey-darker, 0);
  border-top-color: #000;
  border-width: 9px;
  margin-left: -9px;
}

.segment__header {
  padding: 2.5rem 0.5rem 0.5rem 0.5rem;
  text-transform: uppercase;
  font-size: rem(14);
  font-weight: 600;
  letter-spacing: 1px;
  color: $grey-darker;
  border-bottom: 1px solid $grey;
}

.segment__submit {
  padding: 1rem;
  text-align: center;
}

.segment__detail--inline {
  border-left: none;

  &:before {
    content: "";
    width: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    background: url("../img/inline-arrow.png") right center no-repeat;
    background-size: contain;
  }
}

// 3rd party error message
.unhappyMessage {
  display: block;
  margin-top: -0.25rem;
  padding: 0 0 0.25rem 0.5rem;
  font-size: rem(14);
  color: $error;
}

.ldkFKNlkIldkng {
  height: 2px !important;
  transform: translateX(-200%);
}
