.icon {
	display: inline-block;
    vertical-align: middle;
    padding-right: 1rem;
}

.icon__signup {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin-bottom: 1rem;
    fill: $link-color;
}

.icon__pen {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.icon__clock {
    width: 3rem;
    height: 3rem;
    position: relative;
    margin-bottom: 1rem;
    border: 3px solid $link-color;
    border-radius: 50%;
    transition: all $base-duration $base-timing;
}

.clock__hands {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 1rem;
        height: 2px;
        background: $link-color;
        transition: all $base-duration $base-timing;
    }

    &:before {
        transform: rotate(90deg);
    }

    &:after {
        width: 0.6rem;
        transform: rotate(180deg);
    }

    &:before,
    &:after {
        right: 0;
        transform-origin: 100% 50%;
    }
}
