// General setup
* {
  @include reset-high-contrast;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  transition: background-color 3s $base-timing;

  &.is-locked {
    overflow: hidden;
  }
}

// Base page layout
.page {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  padding-bottom: 5rem;

  @include media($desktop-small) {
    margin-top: 2.75rem;
  }
}

.page--home {
  padding-bottom: 0;
}

aside {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;

  @include media($tablet) {
    width: 100%;
    position: static;
    padding: 5% 10%;
  }
}

.content__wrapper {
  width: 60vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;

  @include media($desktop-small) {
    width: 55vw;
  }

  @include media($tablet) {
    width: 100%;
    position: static;
  }
}

.content__wrapper--page {
  width: 100%;
  max-width: 60rem;
  position: static;
  margin: 0 auto;
}

.content__main {
  padding: 5%;
  font-size: rem(19);
  color: $grey-darker;

  ul,
  ol {
    list-style-type: disc;
    margin: 0 0 1.5rem 1.5rem;
    padding: 0 0 0 1rem;
  }
}

.content__main--home {
  padding: 5% 10%;
}
