ul,
ol {
    list-style-type: none;
    margin: 0 0 1rem 1.25rem;
    padding: 0;

    &%vertical-list {
        list-style-type: disc;
        margin-bottom: 1em;
        padding-left: 1em;
    }

    &%horizontal-list {
        list-style-type: decimal;
        margin-bottom: 1em;
        padding-left: 1em;
    }
}

.vertical-list {
    li {
        padding: 0.5em 1em;
    }
}

.horizontal-list {
    li {
        display: inline-block;
        padding: 0.5em 0.5em;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

dl {
    margin-bottom: 1em;

    dt {
        float: left;
        clear: left;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    dd {
        margin-bottom: 0.5em;
        float: right;
        clear: right;
    }
}
