.modal {
    position: fixed;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;

    &.is-visible {
        top: 0;
        visibility: visible;

        .modal__inner {
            transform: scale(1);
        }
    }
}

.modal__inner {
    width: 60%;
    left: 20%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    background: $white;
    box-shadow: 2rem 2rem 20rem $grey;
    transform: scale(0.9) translate3d(0,0,0);
    transition: all 1s $base-timing;

    @include media($desktop) {
        width: 80%;
        left: 10%;
    }

    @include media($mobile) {
        width: 90%;
        left: 5%;
    }
}

.close--gallery {
    background: $grey-darker;
}