header {
  width: 100%;
  transition: height $base-duration $base-timing;
}

.c-nav--primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.c-nav__social {
  margin: 0;
}

.c-nav__list {
  margin: 0;
  display: flex;
  align-items: center;
  //   justify-content: center;
  text-align: center;
  background: $white;

  @include media($desktop-small) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    width: 100%;
    top: 3.5rem;
    bottom: 50%;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    @include gpu-rendering;
    transition: all $base-duration $base-timing;
  }
}

.c-nav__item {
  display: inline-block;
  position: relative;

  @include media($desktop-small) {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.c-nav__icon {
  margin-right: 0.5rem;

  @include media($desktop-small) {
    display: none;
  }
}

.c-nav__icon--mobile {
  margin-top: 0.25rem;
  margin-left: 2rem;
}

.c-nav__link {
  position: relative;
  display: block;
  padding: 2rem 0.75rem;
  font-size: rem(13);
  font-weight: 600;
  letter-spacing: 0.5px;
  // text-transform: uppercase;
  color: $black;
  background-color: $white;
  transition: all $base-timing $base-duration;

  &:hover,
  &.is-active {
    color: $white;
    background-color: $grey-darker;
  }

  @include media($desktop) {
    letter-spacing: 1px;
    font-size: rem(14);
    padding: 2rem 1rem;
  }

  @include media($desktop-small) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.c-nav--mobile {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3000;
  background: $grey-darker;

  @include media($desktop-small) {
    display: block;
  }
}

.c-nav__list--mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.c-nav__item--mobile {
  // flex: 1;
  text-align: center;
}

.c-nav__link--mobile {
  display: block;
  padding: 1.5rem;
  font-size: rem(13);
  font-weight: 600;
  letter-spacing: 1px;
  color: $white;
  text-transform: uppercase;

  &:hover,
  &:active {
    color: $white;
    background: $grey-dark;
  }

  @include media($mobile-small) {
    padding: 1rem 0.5rem;
    font-size: rem(12);
    letter-spacing: 0;
  }
}

// Hamburgler
.c-nav__toggle {
  position: relative;
  padding: 1rem;
  cursor: pointer;

  &:hover,
  &:active {
    color: $white;
    background: $grey-dark;
  }

  @include media($desktop-small) {
    display: block;
  }
}

.c-nav__toggle-text {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  font-size: rem(13);
  line-height: 2;
  font-weight: 600;
  letter-spacing: 1px;
  color: $white;
  text-transform: uppercase;

  @include media($mobile-small) {
    font-size: rem(12);
    letter-spacing: 0;
  }
}

.c-nav__toggle-burger {
  position: absolute;
  top: 52%;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 1px;
  margin-top: 0;
  background-color: $white;
  transition: background-color $base-duration $base-timing;

  &:before,
  &:after {
    @include gpu-rendering;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    transition: transform $base-duration $base-timing;
  }

  &:before {
    bottom: 5px;
  }

  &:after {
    top: 5px;
  }
}

// Nav open
body.nav-open {
  .c-nav__toggle-burger {
    background-color: transparent;

    &:before,
    &:after {
      top: 0;
      bottom: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .c-nav__list {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
}
