html {
    font-size: $font-size-root;
    -webkit-tap-highlight-color: rgba($black, 0);
}

body {
    @include antialiasing;
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 500;

    @include media($mobile) {
        // line-height: $base-line-height-small;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    line-height: $heading-line-height;
    margin: 0 0 1rem;
}

h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 900;

    @include media($desktop) {
        font-size: 4.5vw;
    }

    @include media($mobile) {
        font-size: 7vw;
    }
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size:  2rem;
    font-weight: 700;

    @include media($mobile) {
      font-size: 1.35rem;
    }
}

h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size:  rem(21);
    font-weight: 600;
}

h4 {
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

p {
    margin: 0 0 1rem;

    &.lead {
        font-size: rem(21);
    }
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:hover,
    &:active {
        color: $grey-darker;
    }
}

ul {
    margin-left: 1rem;
}

img {
    width: 100%;
    vertical-align: middle;
}

strong {
    font-weight: 700;
}

img {
    opacity: 1;
    transition: opacity $transition-duration $base-timing;
}

img[data-src] {
    opacity: 0;
}
