.cards {
  margin-top: 2rem;

  @include media($tablet) {
    margin-top: 0;
  }
}

.card {
  width: 20rem;
  position: relative;
  margin-bottom: 4rem;
  box-shadow: 5rem 5rem 8rem $grey-lighter;
  transition: all 1s $base-timing;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 0 $grey-lighter;
    transform: scale(0.95);
  }

  @include media($desktop) {
    width: 15rem;
  }

  @include media($tablet) {
    width: 100%;
    margin-bottom: 2em;
  }

  @include media($tablet) {
    margin-bottom: 1em;
  }
}

.card__link {
  display: block;
  padding: 1rem;
  font-weight: 600;
  transition: all $base-duration $base-timing;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    background: $grey-darker;
  }
}

.card__title {
  margin-top: 0;
  font-size: rem(18);
  color: $black;

  svg {
    margin-right: 0.5rem;
    opacity: 0.75;
  }
}

.card__title--flex {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
}

.card__text {
  margin-bottom: 0;
  font-weight: 400;
  color: $black;
}

.card--urgent {
  left: 30%;
  background-color: #d62234;

  svg {
    vertical-align: middle;
  }

  .card__title,
  .card__text,
  a {
    color: $white;
  }

  &:hover,
  &:focus,
  &:active {
    .card__title,
    .card__text {
      color: $white;
    }
  }

  @include media($desktop-small) {
    left: 20%;
  }

  @include media($tablet) {
    left: 0;
  }
}

.card--register {
  position: relative;
  left: 40%;

  &:hover,
  &:focus,
  &:active {
    .card__title {
      color: $white;
    }

    color: $white;
    fill: $white;
    background: $grey-darker;

    .icon__signup {
      fill: $white;
    }

    .icon__pen {
      animation: scribble 0.5s linear infinite;
      animation-direction: alternate-reverse;
      transform-origin: 0 80%;
    }
  }

  @include media($desktop-small) {
    left: 30%;
  }

  @include media($tablet) {
    left: 0;
  }
}

.card--appointment {
  left: 30%;

  &:hover,
  &:focus,
  &:active {
    .card__title {
      color: $white;
    }

    .icon__clock {
      border-color: $white;
    }

    .clock__hands {
      &:before {
        background: $white;
        animation: spin 1s linear infinite;
      }

      &:after {
        width: 0.75rem;
        background: $white;
        animation: spin 6s linear infinite;
      }
    }
  }

  @include media($desktop-small) {
    left: 20%;
  }

  @include media($tablet) {
    left: 0;
  }
}

.card--contact {
  left: 40%;

  &:hover,
  &:focus,
  &:active {
    .card__title,
    .card__text {
      color: $white;
    }
  }

  @include media($desktop-small) {
    left: 30%;
  }

  @include media($tablet) {
    left: 0;
  }
}

.card--covid {
  left: 40%;
  background: $grey-darker;

  .card__title,
  .card__text {
    color: $white;
  }

  &:hover,
  &:focus,
  &:active {
    .card__title,
    .card__text {
      color: $white;
    }
  }

  @include media($desktop-small) {
    left: 20%;
  }

  @include media($tablet) {
    left: 0;
  }
}

.card--hours {
  left: 30%;
  padding: 1rem;

  table {
    width: 100%;
  }
  td {
    padding-bottom: 0.5rem;
    &:nth-child(odd) {
      font-weight: 700;
    }
    &:nth-child(even) {
      text-align: right;
    }
  }

  @include media($desktop-small) {
    left: 20%;
  }

  @include media($tablet) {
    left: 0;
  }
}
