.event__list {
  margin-bottom: 5rem;
}

.event {
  position: relative;
  margin-top: 3rem;
  box-shadow: 10px 10px 40px $grey-lighter;
  transition: all 1s $base-timing;

  // &:hover {
  //     box-shadow: 0 0 0 $grey-lighter;
  //     transform: scale(0.95);
  // }
}

.event__date {
  width: 10rem;
  height: 100%;
  position: absolute;
  background: $grey-darker;
  color: $white;

  @include media($mobile) {
    width: 100%;
    position: static;
  }
}

.event__day {
  display: block;
  padding: 1rem;
  font-size: rem(15);
  font-weight: 600;
}

.event__description {
  padding: 1rem 2rem;
  font-size: rem(16);

  @include media($mobile) {
    padding: 0 2rem 1rem 1rem;
  }

  a {
    font-weight: 600;
  }
}

.event__title {
  color: $black;
}

.event__teaser {
  color: $black;
}

.event__link {
  font-size: rem(16);
  font-weight: 600;
}

// News
.news__item {
  margin-top: 2rem;
}

.news__date {
  font-size: rem(14);
  color: $grey-dark;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.news__title {
  margin-top: 0.5rem;
}
