.gallery { 
	display: flex;
	margin-bottom: 2rem;
}

.gallery__image {
	flex: 1;
	padding-right: 1rem;
	cursor: pointer;

	&:last-child {
		padding-right: 0;
	}
}

.close--gallery {
	background: $grey-darker;
	top: 0;
	right: 0;
}