
.masthead {
    position: relative;
    width: 100%;
    height: 30vh;
    min-height: 20rem;
    text-align: center;
}

.masthead--home {
    width: 60vw;
    height: 60vh;
    min-height: 30rem;
    text-align: left;

    @include media($desktop-small) {
        width: 55vw;
    }

    @include media($tablet) {
        width: 100%;
        height: 50vh;
        min-height: 20rem;
        text-align: center;
    }
}

.masthead__logo {
    display: block;
    position: absolute;
    bottom: 8.5vw;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);

    img {
        width: auto;
        height: 8rem;
        display: block;

        @include media($desktop) {
            height: 8vw;
        }

        @include media($desktop-small) {
            height: 12vw;
        }

        @include media($mobile) {
            height: 18vw;
        }
    }

    @include media($desktop-small) {
        bottom: 12vw;
    }

    @include media($mobile) {
        bottom: 15vw;
    }
}

.masthead__logo--home {
    bottom: 18vw;
    bottom: 16rem;
    left: 10%;
    transform: none;

    @include media($desktop) {
        bottom: 18vw;
    }

    @include media($tablet) {
        position: absolute;
        bottom: 7rem;
        left: 50%;
        transform: translateX(-50%);
    }

    @include media($mobile) {
        bottom: 28vw;
    }
}

.masthead__title {
    width: 100%;
    position: absolute;
    bottom: 2vw;
    z-index: 2;
    color: $white;

    @include media($mobile) {
        bottom: 3vw;
    }
}

.masthead__title--home {
    max-width: 60rem;
    padding: 0 10%;
}

.masthead__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s $base-timing;

    &.lazyloaded {
        opacity: 0.7;
    }

    &:after {
        @include fill-parent(3);
        background: linear-gradient(to bottom, rgba(#EAC5D8,0.1) 20%,rgba($link-color,0.9) 100%);
    }
}
