.team__item {
    width: 46%;
    position: relative;
    float: left;
    margin-bottom: 2rem;
    cursor: pointer;
    box-shadow: 5rem 5rem 8rem $grey-lighter;
    transition: all 1s $base-timing;

    &:hover {
        box-shadow: 0 0 0 $grey-lighter;
        transform: scale(0.95);

        .team__description {
            color: $white;
            background: $grey-darker;
        }
    }

    &.has-focus {
        overflow: visible;

        .team__bio {
            opacity: 1;
        }
    }

    @include media($mobile) {
        width: 100%;
    }
}

.team__item--even {
    margin-top: 5rem;
    margin-left: 8%;

    @include media($mobile) {
        margin-top: 0;
        margin-left: 0;
    }
}

.team__photo {
    width: 50%;
    position: relative;
    opacity: 0.6;

    img {
        opacity: 0;
        transition: opacity 1s $base-timing;

        &.lazyloaded {
            opacity: 1;
        }
    }

    &:after {
        @include fill-parent(3);
        background: linear-gradient(to bottom, rgba(#EAC5D8,0.1) 20%,rgba(#F56476,0.4) 100%);
    }
}

.team__description {
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    padding: 1rem;
    background: $white;
    transition: all 1s $base-timing;
}

.team__description--light {
    background: $grey-darker;
    color: $white;
}

.team__member {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.team__name {
    margin-bottom: 0.5rem;
    font-size: rem(19);

    @include media($desktop) {
        font-size: 1.75vw;
    }

    @include media($mobile) {
        font-size: 3.5vw;
    }

    @include media($mobile-small) {
        font-size: 4vw;
    }
}

.team__position {
    margin: 0;
    font-size: rem(16);
    line-height: 1rem;

    @include media($desktop) {
        font-size: 1.4vw;
    }

    @include media($tablet) {
        font-size: 1.75vw;
    }

    @include media($mobile) {
        font-size: 2.5vw;
    }

    @include media($mobile-small) {
        font-size: 3.5vw;
    }
}

.bio__header {
    position: relative;
}

.bio__description {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    background: $grey-darker;
    color: $white;
}

.description__content {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.bio__name {
    font-size: rem(25);
    font-weight: 700;
}

.bio__position {
    font-size: rem(16);
}

.bio__photo {
    width: 50%;
    position: relative;
    opacity: 0.7;

    img {
        opacity: 0;
        transition: opacity 1s $base-timing;

        &.lazyloaded {
            opacity: 1;
        }
    }

    &:after {
        @include fill-parent(3);
        background: linear-gradient(to bottom, rgba(#EAC5D8,0.1) 20%,rgba(#F56476,0.4) 100%);
    }
}

.bio__content {
    padding: 2rem;
}

.modal__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    opacity: 0;
    background: $grey-lighter;
    visibility: hidden;
    transition: opacity $base-timing 2s;

    &.is-visible {
        visibility: visible;
        opacity: 0.5;
    }
}