<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="South Hill Family Health Centre">
    <title>{{ title ensure_right=" / " }}{{ site_name }}</title>
    {{ if environment == "production" }}
	    <link href="{{ theme:asset src="dist/css/main.min.css" }}" rel="stylesheet">
    {{ else }}
        <link href="{{ theme:css src="main.css" }}" rel="stylesheet">
    {{ endif }}
    <script src="https://use.typekit.net/ilr8fez.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {{ if environment == "production" }}
        <script defer src="{{ theme:asset src="dist/js/main.min.js" }}"></script>
    {{ else }}
        <script defer src="{{ theme:js src="vendor/jquery.js" }}"></script>
        <script defer src="{{ theme:js src="vendor/areyousure.js" }}"></script>
        <script defer src="{{ theme:js src="vendor/happy.js" }}"></script>
        <script defer src="{{ theme:js src="vendor/lazysizes.js" }}"></script>
        <script defer src="{{ theme:js src="main" }}"></script>
    {{ endif }}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ environment_url}}{{ theme:asset src="img/icons/apple-touch-icon.png" }}">
    <link rel="icon" type="image/png" href="{{ environment_url}}{{ theme:asset src="img/icons/favicon-32x32.png" }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ environment_url}}{{ theme:asset src="img/icons/favicon-16x16.png" }}" sizes="16x16">
    <link rel="manifest" href="{{ environment_url}}{{ theme:asset src="img/icons/manifest.json" }}">
    <link rel="mask-icon" href="{{ environment_url}}{{ theme:asset src="img/icons/safari-pinned-tab.svg" }}" color="#fb5449">
    <link rel="shortcut icon" href="{{ environment_url}}{{ theme:asset src="img/icons/favicon.ico" }}">
    <meta name="msapplication-config" content="{{ environment_url}}{{ theme:asset src="img/icons/browserconfig.xml" }}">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="section-{{ segment_1 or "home" }}">

    <main id="main" class="main">
        <header>
            {{ partial:nav }}
        </header>
        <div class="page {{ if !segment_1 }}page--home{{ endif }}">
            {{ template_content }}
        </div>
    </main>

    <div class="modal__overlay"></div>

    {{ if environment == "production" }}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-47326749-2', 'auto');
          ga('send', 'pageview');

        </script>
    {{ endif }}

</body>
</html>
